@charset "UTF-8";
@font-face {
  font-family: 'AvenirNextRegular';
  src: url("../ttf/AvenirNextLTPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'AvenirNextBold';
  src: url("../ttf/AvenirNextLTPro-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
/*
--------------------------------
@font-face {
    font-family: 'ExoRegular';
    src: url('../ttf/Exo-Regular-webfont.eot');
    src: url('../ttf/Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Regular-webfont.woff') format('woff'),
         url('../ttf/Exo-Regular-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Regular-webfont.svg#ExoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ExoMediumItalic';
    src: url('../ttf/Exo-Medium-Italic-webfont.eot');
    src: url('../ttf/Exo-Medium-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Medium-Italic-webfont.woff') format('woff'),
         url('../ttf/Exo-Medium-Italic-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Medium-Italic-webfont.svg#ExoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExoDemiBoldItalic';
    src: url('../ttf/Exo-DemiBold-Italic-webfont.eot');
    src: url('../ttf/Exo-DemiBold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-DemiBold-Italic-webfont.woff') format('woff'),
         url('../ttf/Exo-DemiBold-Italic-webfont.ttf') format('truetype'),
         url('../ttf/Exo-DemiBold-Italic-webfont.svg#ExoDemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExoBold';
    src: url('../ttf/Exo-Bold-webfont.eot');
    src: url('../ttf/Exo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Bold-webfont.woff') format('woff'),
         url('../ttf/Exo-Bold-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Bold-webfont.svg#ExoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExoBoldItalic';
    src: url('../ttf/Exo-Bold-Italic-webfont.eot');
    src: url('../ttf/Exo-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Bold-Italic-webfont.woff') format('woff'),
         url('../ttf/Exo-Bold-Italic-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Bold-Italic-webfont.svg#ExoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

-------------------------------------------------------------------------------
@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('AvenirNextLTPro-Cn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed'), url('AvenirNextLTPro-DemiCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed'), url('AvenirNextLTPro-HeavyCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed'), url('AvenirNextLTPro-MediumCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed'), url('AvenirNextLTPro-UltLtCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed'), url('AvenirNextLTPro-BoldCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed Italic'), url('AvenirNextLTPro-BoldCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed Italic'), url('AvenirNextLTPro-CnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed Italic'), url('AvenirNextLTPro-DemiCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Italic'), url('AvenirNextLTPro-DemiIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed Italic'), url('AvenirNextLTPro-HeavyCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Italic'), url('AvenirNextLTPro-It.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed Italic'), url('AvenirNextLTPro-MediumCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed Italic'), url('AvenirNextLTPro-UltLtCnIt.woff') format('woff');
}
*/
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span1 {
  width: 3.20641%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span2 {
  width: 7.41483%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span3 {
  width: 11.62325%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span4 {
  width: 15.83166%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span5 {
  width: 20.04008%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span6 {
  width: 24.2485%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span7 {
  width: 28.45691%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span8 {
  width: 32.66533%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span9 {
  width: 36.87375%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span10 {
  width: 41.08216%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span11 {
  width: 45.29058%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span12 {
  width: 49.499%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span13 {
  width: 53.70741%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span14 {
  width: 57.91583%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span15 {
  width: 62.12425%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span16 {
  width: 66.33267%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span17 {
  width: 70.54108%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span18 {
  width: 74.7495%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span19 {
  width: 78.95792%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span20 {
  width: 83.16633%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span21 {
  width: 87.37475%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span22 {
  width: 91.58317%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span23 {
  width: 95.79158%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 12, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.span24 {
  width: 100%;
  float: left;
  margin-right: 1.002%;
  display: inline;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset1 {
  margin-left: 4.20842%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset2 {
  margin-left: 8.41683%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset3 {
  margin-left: 12.62525%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset4 {
  margin-left: 16.83367%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset5 {
  margin-left: 21.04208%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset6 {
  margin-left: 25.2505%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset7 {
  margin-left: 29.45892%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset8 {
  margin-left: 33.66733%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset9 {
  margin-left: 37.87575%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset10 {
  margin-left: 42.08417%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset11 {
  margin-left: 46.29259%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset12 {
  margin-left: 50.501%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset13 {
  margin-left: 54.70942%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset14 {
  margin-left: 58.91784%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset15 {
  margin-left: 63.12625%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset16 {
  margin-left: 67.33467%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset17 {
  margin-left: 71.54309%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset18 {
  margin-left: 75.7515%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset19 {
  margin-left: 79.95992%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset20 {
  margin-left: 84.16834%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset21 {
  margin-left: 88.37675%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset22 {
  margin-left: 92.58517%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset23 {
  margin-left: 96.79359%;
}

/* line 16, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.offset24 {
  margin-left: 101.002%;
}

/* line 19, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.omega {
  float: right;
  margin-right: 0;
  *margin-left: -10px;
  display: inline;
}

/* line 21, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.endrow {
  display: inline;
  margin-right: 0;
}

/* line 26, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
ul {
  margin: 10px;
}

/* line 28, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
li {
  list-style-type: disc;
}

/* line 30, ../../../dm/dmCorePlugin/data/compass/dmDefault/stylesheets/_dmDefault.scss */
.svg-image {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

/* FUENTES */
/* line 3, ../sass/base/_textos.scss */
h1 {
  font-family: "AvenirNextRegular";
  color: #0099ff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 13, ../sass/base/_textos.scss */
h2 {
  color: #666666;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: 'AvenirNextBold';
}

/* line 14, ../sass/base/_textos.scss */
h3 {
  color: #666666;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'AvenirNextBold';
}

/* line 15, ../sass/base/_textos.scss */
h4 {
  color: #666666;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'AvenirNextBold';
}

/* line 16, ../sass/base/_textos.scss */
h5 {
  color: #666666;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: 'AvenirNextBold';
}

/* line 18, ../sass/base/_textos.scss */
a {
  text-decoration: none;
  font-size: 14px;
  font-family: "AvenirNextRegular";
}

/* line 20, ../sass/base/_textos.scss */
p {
  color: #666666;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  padding-bottom: 15px;
}

/* line 29, ../sass/base/_textos.scss */
strong {
  font-weight: bold;
  font-size: 15px;
  line-height: 2;
}

/* line 35, ../sass/base/_textos.scss */
.titular_red_dark {
  background: url("../images/bg_titular.png") no-repeat right;
  margin-bottom: 20px;
}
/* line 38, ../sass/base/_textos.scss */
.titular_red_dark h1 {
  color: #fff;
}

/* line 41, ../sass/base/_textos.scss */
.titular_footer {
  margin-bottom: 20px;
}

/* line 43, ../sass/base/_textos.scss */
.titular_int {
  padding: 13px 10px 13px 22px;
  background: #ffffff;
  color: #666666;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "AvenirNextRegular";
  letter-spacing: 0.6px;
}
/* line 51, ../sass/base/_textos.scss */
.titular_int h3 {
  font-size: 19px;
  font-family: "AvenirNextRegular";
  margin-bottom: 0;
}
/* line 56, ../sass/base/_textos.scss */
.titular_int h4 {
  font-family: "AvenirNextRegular";
  text-align: center;
  margin-bottom: 0;
}

/* line 63, ../sass/base/_textos.scss */
.subtitular {
  margin: 30px 0 10px 0;
  font-family: "AvenirNextBold";
  color: #fff;
  font-size: 20px;
}

/* line 71, ../sass/base/_textos.scss */
.titular_int_prod {
  padding: 20px 15px 0px 30px;
}

/* line 75, ../sass/base/_textos.scss */
.seccion {
  margin-bottom: 40px;
}

/* line 79, ../sass/base/_textos.scss */
.text_center {
  text-align: center;
}

/* line 1, ../sass/partials/_menu.scss */
.edit .menu_main {
  margin-top: 0;
}

/* line 2, ../sass/partials/_menu.scss */
.menu_main {
  margin-top: 43px;
  text-transform: uppercase;
  font-family: "AvenirNextRegular";
}
/* line 6, ../sass/partials/_menu.scss */
.menu_main ul {
  overflow: hidden;
  float: right;
}
/* line 9, ../sass/partials/_menu.scss */
.menu_main ul li {
  list-style: none;
  float: left;
  overflow: hidden;
  border-right: 1px solid #ccc;
}
/* line 14, ../sass/partials/_menu.scss */
.menu_main ul li a, .menu_main ul li span {
  margin: 0 10px 0 10px;
  line-height: 20px;
  padding-right: 0;
  font-size: 13px;
}
/* line 20, ../sass/partials/_menu.scss */
.menu_main ul li a {
  color: #555;
  text-decoration: none;
}
/* line 21, ../sass/partials/_menu.scss */
.menu_main ul li a:hover {
  color: #0099ff;
}
/* line 22, ../sass/partials/_menu.scss */
.menu_main ul li span, .menu_main ul li .dm_parent {
  color: #0099ff;
}
/* line 23, ../sass/partials/_menu.scss */
.menu_main ul li:last-child, .menu_main ul li .last {
  border-right: 0px;
}
/* line 23, ../sass/partials/_menu.scss */
.menu_main ul li:last-child a, .menu_main ul li .last a {
  margin-right: 0;
}
/* line 26, ../sass/partials/_menu.scss */
.menu_main ul .dm_current a, .menu_main ul .dm_current span {
  color: #0099ff;
}
/* line 28, ../sass/partials/_menu.scss */
.menu_main ul .first a, .menu_main ul .first span {
  border-left: 0px;
}
/* line 28, ../sass/partials/_menu.scss */
.menu_main ul .first .dm_parent {
  color: #555;
}

/* line 35, ../sass/partials/_menu.scss */
.menu_footer {
  overflow: hidden;
  float: right;
}
/* line 36, ../sass/partials/_menu.scss */
.menu_footer ul {
  color: #0099ff;
  margin: 5px;
  font-weight: bold;
}
/* line 38, ../sass/partials/_menu.scss */
.menu_footer ul li {
  list-style: none;
  float: left;
}
/* line 40, ../sass/partials/_menu.scss */
.menu_footer ul li a {
  color: #0099ff;
  padding: 5px 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}
/* line 41, ../sass/partials/_menu.scss */
.menu_footer ul li a:hover {
  color: #0099ff;
  text-decoration: underline;
}
/* line 42, ../sass/partials/_menu.scss */
.menu_footer ul li span {
  color: #fff;
  padding: 5px 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}
/* line 45, ../sass/partials/_menu.scss */
.menu_footer ul .dm_current a {
  border-right: 0px;
}
/* line 47, ../sass/partials/_menu.scss */
.menu_footer ul .first a {
  border-left: 0px;
}
/* line 49, ../sass/partials/_menu.scss */
.menu_footer ul .last a {
  border-right: 0px;
}

/* line 54, ../sass/partials/_menu.scss */
.fix-height {
  height: 200px;
}

/* line 60, ../sass/partials/_menu.scss */
.menu_vertical ul {
  padding: 0px 10px 0px 20px;
  margin: 0px;
}
/* line 62, ../sass/partials/_menu.scss */
.menu_vertical ul li {
  display: table;
  width: 100%;
  height: 40px;
}
/* line 66, ../sass/partials/_menu.scss */
.menu_vertical ul li a {
  background: url("../images/bg_btn.png") no-repeat left;
  padding-left: 35px;
  vertical-align: middle;
  color: #666666;
  display: inline-block;
  border-bottom: 1px solid #c3c3c3;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 11px;
}
/* line 78, ../sass/partials/_menu.scss */
.menu_vertical ul li a:hover {
  color: #0099ff;
  text-decoration: none;
}

/* line 88, social/*.png */
.social-sprite, .social-facebook, .social-instagram, .social-twitter {
  background-image: url('../images/social-sc2e59bfbdf.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook {
  background-position: 0 0;
  height: 29px;
  width: 37px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook:hover, .social-facebook.facebook-hover {
  background-position: 0 -29px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-instagram {
  background-position: 0 -58px;
  height: 29px;
  width: 37px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-instagram:hover, .social-instagram.instagram-hover {
  background-position: 0 -87px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter {
  background-position: 0 -116px;
  height: 29px;
  width: 37px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter:hover, .social-twitter.twitter-hover {
  background-position: 0 -145px;
}

/* SUSCRIPCIONES */
/* line 5, ../sass/partials/_contactos.scss */
.cont_cotiza {
  width: 60%;
  margin: auto;
}

/* line 17, ../sass/partials/_contactos.scss */
.contactos {
  font-family: "AvenirNextRegular";
}
/* line 19, ../sass/partials/_contactos.scss */
.contactos label {
  color: #666666;
  font-size: 13px;
  padding-bottom: 15px;
  display: inline-block;
}
/* line 25, ../sass/partials/_contactos.scss */
.contactos .comp {
  width: 97%;
  margin: 10px 0;
}
/* line 28, ../sass/partials/_contactos.scss */
.contactos .comp:first-child {
  margin-top: 0;
}
/* line 30, ../sass/partials/_contactos.scss */
.contactos .btn {
  width: 90px;
  float: left;
  margin-top: 20px;
}
/* line 37, ../sass/partials/_contactos.scss */
.contactos input[type='text'], .contactos textarea {
  width: 100%;
  padding: 0%;
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
  color: #666666;
  background: white;
  border: 1px solid #999999;
  font-family: "AvenirNextRegular";
  font-style: italic;
}
/* line 55, ../sass/partials/_contactos.scss */
.contactos textarea {
  width: 100%;
  padding: 0%;
  height: 148px;
  line-height: 40px;
  text-indent: 15px;
  color: #0099ff;
  background: white;
  border: 1px solid #999999;
  font-family: "AvenirNextRegular";
  font-style: italic;
}
/* line 68, ../sass/partials/_contactos.scss */
.contactos textarea:focus {
  color: #666666;
}
/* line 75, ../sass/partials/_contactos.scss */
.contactos input[type='submit'] {
  background: #0099ff url("../images/bg_btn.png") no-repeat 95% 50%;
  height: 30px;
  border: 0;
  padding: 0 45px 0 15px;
  display: inline-block;
  color: white;
  font-family: "AvenirNextRegular";
}
/* line 87, ../sass/partials/_contactos.scss */
.contactos input[type='submit']:hover {
  background: #888888 url("../images/bg_btn.png") no-repeat 95% 50%;
  cursor: pointer;
}
/* line 93, ../sass/partials/_contactos.scss */
.contactos li {
  list-style: none;
}

/* line 97, ../sass/partials/_contactos.scss */
.telefonos {
  color: #b3b3b3;
}
/* line 99, ../sass/partials/_contactos.scss */
.telefonos p {
  font-size: 18px;
}
/* line 101, ../sass/partials/_contactos.scss */
.telefonos .li {
  float: left;
  width: 35%;
  margin: 0px 10px 0px 20px;
  padding-top: 10px;
}

/* line 104, ../sass/partials/_contactos.scss */
.formulario {
  padding-bottom: 40px;
}

/* line 1, ../sass/partials/_productos.scss */
.cont_lista_cat {
  background: #0090f0;
  border-radius: 15px;
}
/* line 4, ../sass/partials/_productos.scss */
.cont_lista_cat ul {
  margin: 0px;
}
/* line 6, ../sass/partials/_productos.scss */
.cont_lista_cat ul li {
  padding: 5px 20px 5px 20px;
  margin: 0px;
}
/* line 9, ../sass/partials/_productos.scss */
.cont_lista_cat ul li a {
  padding: 10px 10px 10px 20px;
  border-radius: 3px;
  display: block;
  background: #0099ff url("../images/bg_btn.png") no-repeat 99% 50%;
  color: #fff;
  font-family: "AvenirNextRegular";
  letter-spacing: 0.6px;
}
/* line 18, ../sass/partials/_productos.scss */
.cont_lista_cat ul li a:hover {
  text-decoration: none;
  background: #0a9dff url("../images/bg_btn.png") no-repeat 99% 50%;
}

/* line 29, ../sass/partials/_productos.scss */
.product_list_related ul {
  margin: 0 0px;
  padding: 20px 0px;
  overflow: hidden;
}
/* line 33, ../sass/partials/_productos.scss */
.product_list_related ul li {
  padding: 30px 20px;
  width: 175px;
  height: 280px;
  float: left;
  border: 1px dotted #ccc;
  position: relative;
}
/* line 45, ../sass/partials/_productos.scss */
.product_list_related ul li .image {
  border: 1px solid #afaeae;
  position: relative;
  height: 175px;
  overflow: hidden;
}
/* line 51, ../sass/partials/_productos.scss */
.product_list_related ul li .image .img_product {
  width: 175px;
  height: auto;
  position: absolute;
}
/* line 56, ../sass/partials/_productos.scss */
.product_list_related ul li .image .mask {
  position: absolute;
}
/* line 58, ../sass/partials/_productos.scss */
.product_list_related ul li .enlaces {
  margin-top: 15px;
  text-align: center;
}
/* line 61, ../sass/partials/_productos.scss */
.product_list_related ul li .enlaces a {
  font-family: "AvenirNextRegular";
  text-align: center;
  color: #666666;
  display: block;
  text-decoration: none;
}
/* line 68, ../sass/partials/_productos.scss */
.product_list_related ul li .enlaces:hover {
  color: #0099ff;
}

/* line 77, ../sass/partials/_productos.scss */
.cont_producto ul {
  margin: 0 0px;
  padding: 20px 0px;
  overflow: hidden;
}
/* line 81, ../sass/partials/_productos.scss */
.cont_producto ul li {
  padding: 30px 30px;
  width: 175px;
  height: 280px;
  float: left;
  border-right: 1px dotted #0099ff;
  border-top: 1px dotted #0099ff;
  position: relative;
  border: 1px dotted #ccc;
}
/* line 93, ../sass/partials/_productos.scss */
.cont_producto ul li .image {
  border: 1px solid #afaeae;
  position: relative;
  height: 175px;
  overflow: hidden;
}
/* line 99, ../sass/partials/_productos.scss */
.cont_producto ul li .image .img_product {
  width: 175px;
  height: auto;
  position: absolute;
}
/* line 104, ../sass/partials/_productos.scss */
.cont_producto ul li .image .mask {
  position: absolute;
}
/* line 106, ../sass/partials/_productos.scss */
.cont_producto ul li .enlaces {
  margin-top: 15px;
  text-align: center;
}
/* line 109, ../sass/partials/_productos.scss */
.cont_producto ul li .enlaces a {
  font-family: "AvenirNextRegular";
  text-align: center;
  color: #666666;
  display: block;
  text-decoration: none;
}
/* line 116, ../sass/partials/_productos.scss */
.cont_producto ul li .enlaces:hover {
  color: #0099ff;
}

/* line 123, ../sass/partials/_productos.scss */
.cont_producto_int {
  font-family: "AvenirNextRegular" !important;
  color: #666;
}
/* line 126, ../sass/partials/_productos.scss */
.cont_producto_int h2 {
  font-size: 20px;
}
/* line 127, ../sass/partials/_productos.scss */
.cont_producto_int p {
  margin: 10px 0;
}
/* line 128, ../sass/partials/_productos.scss */
.cont_producto_int .img_gr {
  border: 1px solid #afaeae;
  background: white;
}
/* line 131, ../sass/partials/_productos.scss */
.cont_producto_int .img_gr img {
  text-align: center;
  width: auto;
  height: 300px;
}
/* line 137, ../sass/partials/_productos.scss */
.cont_producto_int .descripcion {
  color: #fff;
}

/* line 141, ../sass/partials/_productos.scss */
.cont_csv {
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 144, ../sass/partials/_productos.scss */
.cont_csv .csv {
  width: 100%;
  background: #008ae6;
}
/* line 148, ../sass/partials/_productos.scss */
.cont_csv .csv tr:last-child {
  border-bottom: 0;
}
/* line 149, ../sass/partials/_productos.scss */
.cont_csv .csv tr:nth-child(2n+1) {
  background: #0084db;
}
/* line 151, ../sass/partials/_productos.scss */
.cont_csv .csv th {
  text-align: center;
  background: #0099ff;
  color: #fff;
  height: 35px;
  text-transform: capitalize;
  font-family: "AvenirNextBold";
  letter-spacing: 0.5;
}
/* line 160, ../sass/partials/_productos.scss */
.cont_csv .csv td {
  text-align: center;
  height: 30px;
  color: #fff;
}

/* line 3, ../sass/partials/_category.scss */
.category_list_root .elements {
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/partials/_category.scss */
.category_list_root .elements .element {
  width: 16.11185%;
  float: left;
  margin-right: 0.66578%;
  display: inline;
  margin-right: -100%;
  overflow: hidden;
}
/* line 42, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susyone/_isolation.scss */
.category_list_root .elements .element:nth-child(6n + 1) {
  margin-left: 0%;
  clear: left;
}
/* line 42, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susyone/_isolation.scss */
.category_list_root .elements .element:nth-child(6n + 2) {
  margin-left: 16.77763%;
  clear: none;
}
/* line 42, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susyone/_isolation.scss */
.category_list_root .elements .element:nth-child(6n + 3) {
  margin-left: 33.55526%;
  clear: none;
}
/* line 42, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susyone/_isolation.scss */
.category_list_root .elements .element:nth-child(6n + 4) {
  margin-left: 50.33289%;
  clear: none;
}
/* line 42, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susyone/_isolation.scss */
.category_list_root .elements .element:nth-child(6n + 5) {
  margin-left: 67.11052%;
  clear: none;
}
/* line 42, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susyone/_isolation.scss */
.category_list_root .elements .element:nth-child(6n + 6) {
  margin-left: 83.88815%;
  clear: none;
}
/* line 10, ../sass/partials/_category.scss */
.category_list_root .elements .element article {
  background: #fcffff;
  border: 2px solid #d8d8d8;
  text-align: center;
}
/* line 15, ../sass/partials/_category.scss */
.category_list_root .elements .element article .ima_catmenu img {
  width: 100%;
}
/* line 19, ../sass/partials/_category.scss */
.category_list_root .elements .element article .text_catmenu {
  /*background: yellow;*/
  padding: 10px 6px 10px 6px;
}
/* line 22, ../sass/partials/_category.scss */
.category_list_root .elements .element article .text_catmenu p {
  font-family: "AvenirNextRegular";
  font-size: 12px;
  text-transform: uppercase;
  line-height: normal;
  color: #0099ff;
  display: inline-block;
  /* background: red; */
  vertical-align: sub;
}
/* line 33, ../sass/partials/_category.scss */
.category_list_root .elements .element article:hover {
  background: #0099ff;
}
/* line 33, ../sass/partials/_category.scss */
.category_list_root .elements .element article:hover p {
  color: #ebebeb;
  font-weight: bold;
}
/* line 35, ../sass/partials/_category.scss */
.category_list_root .elements .element span.link.dm_current article {
  background: #0099ff;
}
/* line 35, ../sass/partials/_category.scss */
.category_list_root .elements .element span.link.dm_current p {
  color: #ebebeb;
  font-weight: bold;
}

/*
ul{
        margin: 0px;
        overflow: inherit;
        .cat-info{
            display: table-row;
            .cat-hover{
                margin-top: -182*2px;
                background: rgba(0,0,0,0);
                padding: 75px 4px 182px 0px;
                @include transition-property(all);
                @include transition-duration(.4s);
                @include transition-timing-function(ease);
                display: table-cell;
                vertical-align: middle;
                &:hover, &.dm_current{
                    background: rgba(0,0,0,.7);
                    margin-top: -182px;
                    padding-bottom: 0px;    
                }
            }
            .cat-on:hover .cat-hover{}
            .cat-on{img{margin-left: -30px;}}
            a,span{
                display: block;
                width: 100%; 
                color: white;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                padding-right: 5px;
                height: 182px;
            }
        }
        li{ 
            @include isolate-grid(6,36);
            float: left;
            position: relative;
            overflow: hidden;
            height: 182px;
            a{
                float: left;
                position: relative;
                display: block;
                color: $white;
                font-family:'arial';
                font-style: italic;
                font-weight: bold;  
            }
            a:hover{text-decoration: none;}
            span{
                float: left;
                position: relative;
                display: block;
                color: $white;
                font-family:'arial';
                font-style: italic;
                font-weight: bold;
                background: url('../images/vn_over_bl.png') no-repeat 60% 95%;
            }
            .last{ border: 0px}        
        }
        li:hover{}
    }*/
/* line 1, ../sass/partials/_dm_widgets.scss */
.pager {
  text-align: center;
}
/* line 3, ../sass/partials/_dm_widgets.scss */
.pager ul {
  margin: 0;
  padding: 0;
}
/* line 4, ../sass/partials/_dm_widgets.scss */
.pager li {
  display: inline-block;
  margin: 4px;
}

/* line 7, ../sass/partials/_dm_widgets.scss */
.navigation_bread_crumb li {
  display: inline-block;
  margin: 4px;
}
/* line 10, ../sass/partials/_dm_widgets.scss */
.navigation_bread_crumb li a {
  color: #333;
  text-decoration: none;
}
/* line 13, ../sass/partials/_dm_widgets.scss */
.navigation_bread_crumb li a:hover {
  color: #006699;
}
/* line 15, ../sass/partials/_dm_widgets.scss */
.navigation_bread_crumb li span.link.dm_current {
  color: #006699;
}

/* line 21, ../sass/partials/_dm_widgets.scss */
.center_ima {
  text-align: center;
}

/* line 24, ../sass/partials/_dm_widgets.scss */
.search_form {
  margin-bottom: 20px;
}
/* line 28, ../sass/partials/_dm_widgets.scss */
.search_form form {
  position: relative;
}
/* line 31, ../sass/partials/_dm_widgets.scss */
.search_form form label {
  display: none;
}
/* line 32, ../sass/partials/_dm_widgets.scss */
.search_form form input[type='text'], .search_form form textarea, .search_form form select {
  width: 90%;
  border: 0;
  padding: 10px;
}
/* line 38, ../sass/partials/_dm_widgets.scss */
.search_form form button, .search_form form input[type='submit'] {
  background: #049cdb;
  border: 0;
  padding: 10px;
  color: white;
  cursor: pointer;
  float: right;
  z-index: 1100;
  position: absolute;
  right: 0;
}

/* line 55, ../sass/partials/_dm_widgets.scss */
.search_results {
  position: relative;
}
/* line 56, ../sass/partials/_dm_widgets.scss */
.search_results button:hover, .search_results input[type='submit']:hover {
  background: #afafaf;
}
/* line 59, ../sass/partials/_dm_widgets.scss */
.search_results h1 {
  font-size: 20px;
}
/* line 60, ../sass/partials/_dm_widgets.scss */
.search_results ol, .search_results ul {
  list-style: none;
}
/* line 62, ../sass/partials/_dm_widgets.scss */
.search_results ol li, .search_results ul li {
  list-style-type: none;
  margin-bottom: 25px;
  font-size: 15px;
  position: relative;
}
/* line 69, ../sass/partials/_dm_widgets.scss */
.search_results ol li .page_name, .search_results ul li .page_name {
  clear: both;
  display: block;
  color: #0099ff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 7px;
}
/* line 77, ../sass/partials/_dm_widgets.scss */
.search_results ol li a.link, .search_results ul li a.link {
  color: gray;
  width: 90%;
  display: block;
}
/* line 78, ../sass/partials/_dm_widgets.scss */
.search_results ol li span.score, .search_results ul li span.score {
  position: absolute;
  right: 0;
  top: 25%;
  color: #0099ff;
  font-size: 25px;
  font-family: AvenirNextRegular;
}

/* line 95, ../sass/partials/_dm_widgets.scss */
.bg_top {
  background: url(../images/barra_top.png) no-repeat center top;
  min-height: 176px;
}

/* line 100, ../sass/partials/_dm_widgets.scss */
.edit .cont_banner {
  top: 0;
  position: static;
  z-index: 0;
}

/* line 101, ../sass/partials/_dm_widgets.scss */
.cont_banner {
  top: -80px;
  position: relative;
  z-index: -1;
  margin-bottom: -41px;
}
/* line 106, ../sass/partials/_dm_widgets.scss */
.cont_banner img {
  width: 100%;
  height: auto;
}

/* line 111, ../sass/partials/_dm_widgets.scss */
.cont_footer {
  background: #fff;
  margin-top: 50px;
  color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 120, ../sass/partials/_dm_widgets.scss */
.cont_footer .dm_layout_bottom .content_text p {
  font-family: "AvenirNextRegular";
  font-size: 11px;
  line-height: 12px;
  margin-top: 13px;
}
/* line 129, ../sass/partials/_dm_widgets.scss */
.cont_footer .dm_layout_bottom .main_social_icons .socialIcons {
  overflow: hidden;
  margin: 20px 0 20px 0;
}
/* line 132, ../sass/partials/_dm_widgets.scss */
.cont_footer .dm_layout_bottom .main_social_icons .socialIcons .texto {
  float: left;
  font-family: "AvenirNextRegular";
  margin-right: 10px;
  line-height: 40px;
}
/* line 138, ../sass/partials/_dm_widgets.scss */
.cont_footer .dm_layout_bottom .main_social_icons .socialIcons .iconos {
  float: right;
}
/* line 140, ../sass/partials/_dm_widgets.scss */
.cont_footer .dm_layout_bottom .main_social_icons .socialIcons .iconos div {
  text-indent: -9999999px;
  display: inline-block;
}
/* line 143, ../sass/partials/_dm_widgets.scss */
.cont_footer .dm_layout_bottom .main_social_icons .socialIcons .iconos div a {
  display: block;
  height: inherit;
}

/* line 154, ../sass/partials/_dm_widgets.scss */
.btn_titular h1 {
  color: #fff;
  background: #0099ff url("../images/bg_btn_titular.png") no-repeat center top;
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  display: inline-block;
  text-align: center;
  border: 1px solid #0099ff;
  padding: 5px 25px;
  border-radius: 4px;
  font-family: "AvenirNextBold";
  font-size: 20px;
  letter-spacing: 1.3px;
  z-index: 1000;
}

/* line 175, ../sass/partials/_dm_widgets.scss */
.map {
  margin: 30px 0px 30px 30px;
  border-left: 1px solid #0099ff;
  text-align: right;
}
/* line 179, ../sass/partials/_dm_widgets.scss */
.map .texto {
  text-align: right;
}

/* line 182, ../sass/partials/_dm_widgets.scss */
.special-border {
  border: 1px solid #999999;
  height: 310px;
}

/* line 187, ../sass/partials/_dm_widgets.scss */
iframe {
  /*border-radius: 15px;*/
}

/* line 189, ../sass/partials/_dm_widgets.scss */
li {
  list-style: none;
}

/* line 191, ../sass/partials/_dm_widgets.scss */
.li_pdf {
  background: url("/theme/images/iconos/ico_descarga2.png") no-repeat 0% 50%;
  padding: 6px 0 6px 30px;
  color: #666666;
  display: block;
  margin-left: 22px;
}

/* line 200, ../sass/partials/_dm_widgets.scss */
.btn_detalles_p {
  background: #0099ff url("../images/bg_btn.png") no-repeat 95% 50%;
  line-height: 30px;
  margin: 10px auto;
  padding: 0 45px 0 15px;
  clear: both;
  position: absolute;
  bottom: 15px;
  color: white !important;
  left: 50px;
}
/* line 210, ../sass/partials/_dm_widgets.scss */
.btn_detalles_p:hover {
  background: #afafaf url(../images/bg_btn.png) no-repeat 95% 50%;
}

/* line 213, ../sass/partials/_dm_widgets.scss */
.btn_detalles_r, .btn_detalles {
  background: #0099ff url(../images/bg_btn.png) no-repeat 95% 50%;
  line-height: 30px;
  font-family: "AvenirNextRegular";
  padding: 0 45px 0 15px;
  display: inline-block;
  clear: both;
  float: right;
  color: white;
}
/* line 222, ../sass/partials/_dm_widgets.scss */
.btn_detalles_r:hover, .btn_detalles:hover {
  background: #afafaf url(../images/bg_btn.png) no-repeat 95% 50%;
  font-weight: bold;
}

/* line 225, ../sass/partials/_dm_widgets.scss */
.bt_blue {
  padding: 13px 10px 13px 22px;
  background: #0099ff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "AvenirNextRegular";
  letter-spacing: 0.6px;
  text-align: center;
  margin-top: 20px;
}
/* line 234, ../sass/partials/_dm_widgets.scss */
.bt_blue a {
  color: white;
}

/* line 237, ../sass/partials/_dm_widgets.scss */
.bt_blue_title {
  padding: 13px 10px 13px 22px;
  background: #0099ff;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "AvenirNextRegular";
  letter-spacing: 0.6px;
  text-align: center;
  margin-top: -3px;
}
/* line 246, ../sass/partials/_dm_widgets.scss */
.bt_blue_title a {
  color: white;
}

/* line 253, ../sass/partials/_dm_widgets.scss */
.edit .title_ini {
  margin: 0;
}

/* line 254, ../sass/partials/_dm_widgets.scss */
.title_ini {
  margin-top: 30px;
  margin-bottom: -70px;
}

/* line 260, ../sass/partials/_dm_widgets.scss */
.message {
  padding: 30px;
  color: #fff;
  text-align: center;
}

/* line 266, ../sass/partials/_dm_widgets.scss */
.seccion {
  margin: 20px 0px 30px 0px;
}

/* line 271, ../sass/partials/_dm_widgets.scss */
.info_inner {
  margin-top: 20px;
  padding-top: 20px;
}

/* line 280, ../sass/partials/_dm_widgets.scss */
.space_zona {
  margin: 25px 0;
}

/* line 283, ../sass/partials/_dm_widgets.scss */
.markdown {
  font-family: "AvenirNextRegular";
  color: #666;
  font-size: 14px;
}
/* line 288, ../sass/partials/_dm_widgets.scss */
.markdown ul {
  list-style: none;
  /* Remove list bullets */
  padding: 0;
  margin: 0;
}
/* line 294, ../sass/partials/_dm_widgets.scss */
.markdown li {
  padding-left: 16px;
}
/* line 298, ../sass/partials/_dm_widgets.scss */
.markdown li:before {
  content: "•";
  /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #51a9cc;
  /* Or a color you prefer */
}

/* NOTICIAS */
/* line 3, ../sass/partials/_noticias.scss */
.cont_news {
  background: #0099ff url(../images/bg_info.jpg) repeat-x top;
}
/* line 5, ../sass/partials/_noticias.scss */
.cont_news .dm-layout {
  background: url(../images/bg_info_center.jpg) no-repeat top;
}

/* line 9, ../sass/partials/_noticias.scss */
.news_home {
  width: 100%;
  padding: 0 0 30px 0px;
}
/* line 12, ../sass/partials/_noticias.scss */
.news_home ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
/* line 14, ../sass/partials/_noticias.scss */
.news_home ul li {
  width: 45%;
  overflow: hidden;
  margin: 0px;
  padding-left: 20px;
  float: left;
  border-left: 1px dotted #0099ff;
}
/* line 21, ../sass/partials/_noticias.scss */
.news_home ul li:first-child {
  border-left: 0px;
  padding-right: 30px;
}
/* line 22, ../sass/partials/_noticias.scss */
.news_home ul li:nth-child(2) {
  padding-left: 45px;
}
/* line 24, ../sass/partials/_noticias.scss */
.news_home ul li .image_news_home {
  float: left;
  width: 30%;
}
/* line 25, ../sass/partials/_noticias.scss */
.news_home ul li .image_news_home img {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  border: 1px solid #999999;
}
/* line 27, ../sass/partials/_noticias.scss */
.news_home ul li .cont_info_news_home {
  float: left;
  width: 60%;
  margin-top: 10px;
  padding: 15px 0 0 10px;
}
/* line 30, ../sass/partials/_noticias.scss */
.news_home ul li .cont_info_news_home h5 a, .news_home ul li .cont_info_news_home h5 span {
  color: #666666 !important;
}
/* line 31, ../sass/partials/_noticias.scss */
.news_home ul li .cont_info_news_home h5 .dm_current {
  background: red;
  color: #666666 !important;
}
/* line 33, ../sass/partials/_noticias.scss */
.news_home ul li .cont_info_news_home p {
  margin-top: 5px;
}

/* line 39, ../sass/partials/_noticias.scss */
.news_home_op2 {
  width: 100%;
  padding-top: 40px;
}
/* line 40, ../sass/partials/_noticias.scss */
.news_home_op2 h1 {
  font-size: 24px;
  color: #fff;
}
/* line 41, ../sass/partials/_noticias.scss */
.news_home_op2 ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
/* line 42, ../sass/partials/_noticias.scss */
.news_home_op2 ul li {
  display: block;
  float: left;
  margin: 10px;
  width: 45%;
  height: 260px;
}
/* line 44, ../sass/partials/_noticias.scss */
.news_home_op2 ul .image_news_home {
  float: left;
  width: 100%;
  height: 130px;
  overflow: hidden;
}
/* line 47, ../sass/partials/_noticias.scss */
.news_home_op2 ul .image_news_home img {
  width: 100%;
  height: auto;
  min-height: 150px;
  margin: 0 0 20px 0;
}
/* line 49, ../sass/partials/_noticias.scss */
.news_home_op2 ul .cont_info_news_home {
  float: left;
  padding: 15px 10px;
  background: #0099ff;
  width: 100%;
}
/* line 52, ../sass/partials/_noticias.scss */
.news_home_op2 ul .cont_info_news_home a {
  color: #fff;
  text-decoration: none;
}
/* line 53, ../sass/partials/_noticias.scss */
.news_home_op2 ul .cont_info_news_home p {
  margin: 0px;
}
/* line 56, ../sass/partials/_noticias.scss */
.news_home_op2 li:hover {
  background: url("../images/bg_white.png");
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

/* line 62, ../sass/partials/_noticias.scss */
.new_item_list {
  margin-top: 25px;
}
/* line 64, ../sass/partials/_noticias.scss */
.new_item_list ul {
  padding: 0px;
  margin: 0px;
}
/* line 66, ../sass/partials/_noticias.scss */
.new_item_list ul li {
  clear: both;
  padding: 20px 10px;
  overflow: hidden;
  border-bottom: 1px solid #afaeae;
}
/* line 74, ../sass/partials/_noticias.scss */
.new_item_list ul li:last-child {
  border-bottom: 0px;
}
/* line 76, ../sass/partials/_noticias.scss */
.new_item_list ul li .image_news {
  width: 30%;
  float: left;
}
/* line 79, ../sass/partials/_noticias.scss */
.new_item_list ul li .image_news img {
  width: 100%;
  min-height: 150px;
  width: auto;
  float: left;
  border: 1px solid #afaeae;
}
/* line 87, ../sass/partials/_noticias.scss */
.new_item_list ul li .cont_info {
  width: 60%;
  float: left;
  margin-left: 30px;
  padding: 15px 0 0 10px;
}
/* line 92, ../sass/partials/_noticias.scss */
.new_item_list ul li .cont_info h3 a {
  color: #666666;
}
/* line 93, ../sass/partials/_noticias.scss */
.new_item_list ul li .cont_info p {
  margin-top: 10px;
}

/* line 99, ../sass/partials/_noticias.scss */
.titular_interior {
  margin: 50px 0px 10px 30px;
}

/* PAGINA NOTICIA - DETALLE */
/* line 104, ../sass/partials/_noticias.scss */
.news .titular_news {
  background: white;
  padding: 4px;
  margin-bottom: 15px;
}
/* line 109, ../sass/partials/_noticias.scss */
.news .red_count li {
  float: left;
}
/* line 110, ../sass/partials/_noticias.scss */
.news .image {
  clear: both;
  width: 100%;
  margin-bottom: 15px;
}
/* line 114, ../sass/partials/_noticias.scss */
.news .image img {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  border: 1px solid #afaeae;
  width: 100%;
  height: auto;
  min-height: 300px;
}
/* line 122, ../sass/partials/_noticias.scss */
.news p {
  padding: 0px;
  text-align: justify;
  line-height: normal;
}
/* line 129, ../sass/partials/_noticias.scss */
.news ol {
  padding: 0px;
}
/* line 130, ../sass/partials/_noticias.scss */
.news ol li {
  list-style-image: url("../images/vn_nr.png");
}
/* line 133, ../sass/partials/_noticias.scss */
.news .galeria {
  margin-top: 30px;
}
/* line 134, ../sass/partials/_noticias.scss */
.news .galeria h3 {
  padding: 10px 10px 10px 20px;
  background: #0099ff;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}
/* line 140, ../sass/partials/_noticias.scss */
.news .galeria img {
  border: 1px solid #afaeae;
  width: 100px;
  height: 100px;
}
/* line 146, ../sass/partials/_noticias.scss */
.news a {
  color: #fff;
  text-decoration: none;
}

/* line 149, ../sass/partials/_noticias.scss */
.new_item_list_menu {
  width: 100%;
}
/* line 151, ../sass/partials/_noticias.scss */
.new_item_list_menu ul {
  padding-left: 10px;
  margin: 0px;
  overflow: hidden;
}
/* line 155, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li {
  display: block;
  clear: both;
  padding: 15px 0;
  overflow: hidden;
  border-top: 1px solid #afaeae;
}
/* line 160, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li:first-child {
  border-top: 0px;
}
/* line 161, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li:last-child {
  border-bottom: 0px;
}
/* line 163, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .date_menu {
  float: left;
  width: 70px;
  background: url("../images/bg_date.png") no-repeat right 50%;
}
/* line 167, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .date_menu .date {
  float: left;
  padding: 0px 30px 0 0;
  text-align: center;
}
/* line 168, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .date_menu .month {
  font-family: "AvenirNextRegular";
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 15px 0;
  color: #0099ff;
}
/* line 169, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .date_menu .day {
  font-family: "AvenirNextRegular";
  font-weight: bold;
  font-size: 32px;
  color: #0099ff;
}
/* line 172, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .image_news_menu {
  float: left;
  width: 30%;
  margin: 0 15px 0px 0;
}
/* line 173, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li img {
  width: 100%;
  height: auto;
  min-height: 70px;
  border: 1px solid #afaeae;
}
/* line 174, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .cont_info_news_menu {
  float: left;
  width: 60%;
}
/* line 177, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .cont_info_news_menu h5 {
  display: block;
}
/* line 177, ../sass/partials/_noticias.scss */
.new_item_list_menu ul li .cont_info_news_menu h5 a, .new_item_list_menu ul li .cont_info_news_menu h5 span {
  color: #666666;
}

/* line 183, ../sass/partials/_noticias.scss */
.img-fix img {
  border: 1px solid #afaeae;
}

/* line 6, ../sass/partials/_tabs.scss */
.container_tab {
  width: 100%;
  clear: both;
  position: relative;
  margin-top: 50px;
}
/* line 11, ../sass/partials/_tabs.scss */
.container_tab .menu_tab {
  width: 100%;
  clear: both;
  overflow: hidden;
}
/* line 15, ../sass/partials/_tabs.scss */
.container_tab .menu_tab ul {
  display: block;
  margin: 0px;
}
/* line 18, ../sass/partials/_tabs.scss */
.container_tab .menu_tab ul li {
  float: left;
  list-style: none;
  overflow: hidden;
}
/* line 22, ../sass/partials/_tabs.scss */
.container_tab .menu_tab ul li .tabUnSelected {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  color: #4d4d4d;
  border-left: 0px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 35px solid #f1f1f1;
  height: 0;
  line-height: 35px;
  color: #aaa;
  text-shadow: -1px -1px 2px #fff;
  font-weight: bold;
}
/* line 36, ../sass/partials/_tabs.scss */
.container_tab .menu_tab ul li .tabUnSelected:hover {
  text-decoration: none;
  color: #666;
  border-bottom: 35px solid #e3e3e3;
}
/* line 42, ../sass/partials/_tabs.scss */
.container_tab .menu_tab ul li .tabSelected {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  color: #0099ff;
  border-left: 0px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 36px solid #fff;
  height: 0;
  line-height: 33px;
}
/* line 56, ../sass/partials/_tabs.scss */
.container_tab #wrapper_tab {
  width: 100%;
  position: relative;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  clear: both;
  overflow: auto;
  background: #fff;
  border-radius: 0 2px 2px 2px;
}
/* line 66, ../sass/partials/_tabs.scss */
.container_tab #wrapper_tab ul {
  margin: 10px 0px;
  padding: 0px;
  position: relative;
}
/* line 72, ../sass/partials/_tabs.scss */
.container_tab #wrapper_tab .page {
  width: 90%;
  position: relative;
  display: block;
  overflow: hidden;
  clear: both;
  margin: 5%;
}
/* line 79, ../sass/partials/_tabs.scss */
.container_tab #wrapper_tab .page p {
  color: #555;
}

/* line 1, ../sass/partials/_pager.scss */
.pager {
  text-align: center;
  position: relative;
  bottom: -5px;
}
/* line 6, ../sass/partials/_pager.scss */
.pager ul {
  margin: 0;
  padding: 0;
}
/* line 10, ../sass/partials/_pager.scss */
.pager li {
  border: 0 !important;
  display: inline-block;
  font-size: 15px;
}
/* line 14, ../sass/partials/_pager.scss */
.pager li a {
  color: #ffffff;
  background: #0090f0;
  padding: 8px 12px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
/* line 23, ../sass/partials/_pager.scss */
.pager li a:hover {
  text-decoration: none;
  color: #fff;
  background: #696969;
}
/* line 24, ../sass/partials/_pager.scss */
.pager li span, .pager li .current {
  color: #fff;
  background: #696969;
  padding: 8px 12px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
/* line 37, ../sass/partials/_pager.scss */
.pager .next {
  display: none;
}
/* line 38, ../sass/partials/_pager.scss */
.pager .last {
  display: none;
}
/* line 39, ../sass/partials/_pager.scss */
.pager .first {
  display: none;
}
/* line 40, ../sass/partials/_pager.scss */
.pager .prev {
  display: none;
}

/** BG NIVO SLIDER **/
/* line 45, ../sass/partials/_pager.scss */
.page_main_root .content_nivo_gallery:before {
  content: " ";
  display: block;
  background: url(../images/sobre_impresion_megacables.png);
  height: 406px;
  width: 998px;
  position: absolute;
  top: -2px;
  z-index: 10;
}

/* line 57, ../sass/partials/_pager.scss */
.page_main_root .edit .content_nivo_gallery:before {
  display: none;
}

/* line 60, ../sass/partials/_pager.scss */
.nivo-caption[style] {
  opacity: 1 !important;
  z-index: 20;
}

/* line 65, ../sass/partials/_pager.scss */
.nivo-caption {
  background: transparent !important;
  top: 40px;
}
/* line 68, ../sass/partials/_pager.scss */
.nivo-caption p {
  color: #FFF;
  padding-right: 20px !important;
  font-family: "ExoDemiBoldItalic";
  font-size: 30px;
  line-height: 1em;
  text-align: right;
}

/* line 78, ../sass/partials/_pager.scss */
.nivo-directionNav {
  z-index: 30 !important;
}
/* line 80, ../sass/partials/_pager.scss */
.nivo-directionNav .nivo-prevNav, .nivo-directionNav .nivo-nextNav {
  z-index: 30 !important;
}

/* line 83, ../sass/partials/_pager.scss */
.nivo-controlNav {
  bottom: 10px !important;
  right: 20px;
  z-index: 30 !important;
}

@media (min-width: 1000px) {
  /* line 4, ../sass/layouts/_global.scss */
  .global .dm_layout {
    *zoom: 1;
    max-width: 998px;
    max-width: 62.375rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    -moz-background-origin: content;
    -o-background-origin: content-box;
    -webkit-background-origin: content;
    background-origin: content-box;
    -moz-background-clip: content;
    -o-background-clip: content-box;
    -webkit-background-clip: content;
    background-clip: content-box;
  }
  /* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .global .dm_layout:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 9, ../sass/layouts/_global.scss */
  .global .dm_layout_top {
    width: 100%;
    float: left;
    margin-right: 1.002%;
  }
  /* line 17, ../sass/layouts/_global.scss */
  .global .dm_page_content {
    width: 66.33267%;
    float: left;
    margin-right: 1.002%;
  }
  /* line 21, ../sass/layouts/_global.scss */
  .global .dm_layout_menu {
    width: 100%;
    float: left;
    margin-right: 1.002%;
  }
  /* line 25, ../sass/layouts/_global.scss */
  .global .dm_layout_left {
    width: 15.83166%;
    float: left;
    margin-right: 1.002%;
  }
  /* line 29, ../sass/layouts/_global.scss */
  .global .dm_layout_right {
    width: 28.45691%;
    float: right;
    margin-right: 0;
  }
  /* line 33, ../sass/layouts/_global.scss */
  .global .dm_layout_bottom {
    width: 100%;
    float: left;
    margin-right: 1.002%;
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  /* line 41, ../sass/layouts/_global.scss */
  .global .dm_layout {
    width: 90%;
    margin: auto;
    overflow-x: hidden;
  }
  /* line 51, ../sass/layouts/_global.scss */
  .global .dm_page_content {
    background: black;
  }
  /* line 55, ../sass/layouts/_global.scss */
  .global .dm_layout_left {
    width: 48.98785%;
    float: left;
    margin-right: 2.02429%;
  }
  /* line 59, ../sass/layouts/_global.scss */
  .global .dm_layout_right {
    width: 48.98785%;
    float: right;
    margin-right: 0;
  }
  /* line 67, ../sass/layouts/_global.scss */
  .global .movil_collapse {
    width: 100%;
    margin-left: 0;
  }
  /* line 70, ../sass/layouts/_global.scss */
  .global .movil_collapse img {
    width: 100%;
  }
  /* line 73, ../sass/layouts/_global.scss */
  .global .movil_hiden {
    display: none;
  }
  /* line 77, ../sass/layouts/_global.scss */
  .global .slicknav_menu, .global .movil_show {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 85, ../sass/layouts/_global.scss */
  .global .dm_layout {
    width: 100%;
    margin: auto;
  }
  /* line 90, ../sass/layouts/_global.scss */
  .global .dm_layout_top {
    display: none;
  }
  /* line 94, ../sass/layouts/_global.scss */
  .global .dm_page_banner {
    display: none;
  }
  /* line 96, ../sass/layouts/_global.scss */
  .global .dm_page_content {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  /* line 113, ../sass/layouts/_global.scss */
  .global .movil_collapse {
    width: 100%;
    margin-left: 0;
  }
  /* line 116, ../sass/layouts/_global.scss */
  .global .movil_collapse img {
    width: 100%;
  }
  /* line 119, ../sass/layouts/_global.scss */
  .global .movil_hiden {
    display: none;
  }
  /* line 123, ../sass/layouts/_global.scss */
  .global .slicknav_menu, .global .movil_show {
    display: block;
  }
}

/* line 31, ../sass/main.scss */
.global {
  background: #ebebeb;
}

/*.sidebar {
	@extend %global;       
	@extend %sidebar; 
	background: url(../images/bg_web_interior.jpg) repeat-x;     
}*/
