/* FUENTES */

h1{
	font-family: $baseFontFamily;
	color: $t2;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;	
}

h2{color:#666666; margin-bottom: 20px; font-size: 22px; font-family: 'AvenirNextBold';}
h3{color:#666666; margin-bottom: 20px; font-size: 16px; font-family: 'AvenirNextBold';}
h4{color:#666666; margin-bottom: 20px; font-size: 14px; font-family: 'AvenirNextBold';}
h5{color:#666666; margin-bottom: 20px; font-size: 12px; font-family: 'AvenirNextBold';}

a{ text-decoration: none; font-size: $baseFontSize; font-family: $baseFontFamily;}
  
p{
	color: $textColor;
	font-weight: normal;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	font-family: $baseFontFamily;
	padding-bottom: 15px;
}

strong {
    font-weight: bold;
    font-size: 15px;
    line-height: 2;
}

.titular_red_dark{
	background: url('../images/bg_titular.png') no-repeat right;
	margin-bottom: 20px;
	h1{ color: $t1; }
}

.titular_footer{ margin-bottom: 20px; }

.titular_int{
	padding: 13px 10px 13px 22px;
	background: #ffffff;
	color: #666666;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: "AvenirNextRegular";
	letter-spacing: 0.6px;
    h3{
	    font-size: 19px;
	    font-family: "AvenirNextRegular";
	    margin-bottom: 0;
 	}
 	h4{
 	    font-family: "AvenirNextRegular";
 	    text-align: center;
 	    margin-bottom: 0;	
 	}
}

.subtitular{
	margin: 30px 0 10px 0;
	font-family: $f3;
	color: $t1;
	font-size: 20px;
}


.titular_int_prod{
	padding: 20px 15px 0px 30px;
}

.seccion{
	margin-bottom: 40px;
}

.text_center{ text-align: center;}