{# Vars: $newItemPager #}

{{ newItemPager.renderNavigationTop() }}


<ul class="elements">

	{% for newItem in newItemPager %}

	<li class="element">

		<div class="image_news">
			{{ dm.media(newItem.getImage).size(190,150) }}
		</div>

		<div class="cont_info">    
			<h3>{{ dm.link(newItem).text(newItem) }}</h3>
			<p>
				{{ newItem.created_at|date('d / M / Y') }}
				{{ newItem.short_text|slice(0,100) }}
			</p>
			{{ dm.link(newItem).text('Ver más').set('.btn_detalles_r') }}
		</div>
	</li>
	{% endfor %}
</ul>


{{ newItemPager.renderNavigationBottom() }}
