{# Vars: $newItemPager #}

{{ newItemPager.renderNavigationTop() }}

<ul class="elements">

	{% for newItem in newItemPager %}

	<li class="element">
		
		<div class="image_news_menu">{{ dm.media(newItem.getImage).size(190,150) }}</div>

		<div class="cont_info_news_menu">   
			<h5>{{ dm.link(newItem) }}</h5>    
			{{ dm.link(newItem).text('Ver').set('.btn_detalles') }}
		</div>
	</li>
	{% endfor %}
</ul>
{{ newItemPager.renderNavigationBottom() }}