{# Vars: $newItemPager #}

{{ newItemPager.renderNavigationTop() }}

<div class="news_home">

<ul class="elements">

{% for newItem in newItemPager %}

 <li class="element">

	<div class="image_news_home">
		{{ dm.media(newItem.getImage).size(190,150) }}
	</div>

	<div class="cont_info_news_home">
    	<h5>{{ dm.link(newItem) }}</h5>
    	<p>
    		{{ newItem.created_at|date('d / M / Y') }}
    		{{ newItem.short_text|slice(0,100) }}
    	</p>
     	{{ dm.link(newItem).text('ver más').set('.btn_detalles_r') }}
    </div>

 </li>
 {% endfor %}
</ul>
</div>


 {{ newItemPager.renderNavigationBottom() }}