{# Vars: $newItem #}

<div class="news">

<div class="titular_news">
    <h1>{{ newItem }}</h1>
</div>

 <h5>Fecha de Publicación: {{ newItem.created_at|date('d / M / Y') }}</h5>


<p>
    <div class="red_count">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.twitter.com" data-lang="es">Twittear</a>          
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>   
        <div class="fb-like" data-href="http://www.facebook.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>
    </div>
 </p>
  
<div class="image">
    {{ dm.media(newItem.getImage).size(570) }}
</div>
  
 <p>{{ newItem.getLong_text|markdown }}</p>
 
<div class="galeria">
    {% if newItem.getDmGallery|length %}
    <h3>Galeria de Imágenes</h3>
    {% for img in newItem.getDmGallery %}
        {{ dm.link(img).text(dm.media(img).size(100,100)).set('.pop rel=pop_up')}}
    {% endfor %}
    {% endif %}
</div>
 {{ dm.link("newItem/list").text('Regresar a Proyectos').set('.btn_detalles_r') }}
</div>