<div class="map">
	<iframe width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&msid=201774958327922029194.0004da67c336bb92c610b&hl=es&ie=UTF8&t=h&ll=-2.163044,-79.912741&spn=0,0&output=embed"></iframe><br />
</div>