<div class="menu socialIcons">
	<div class="texto">
		<h4>Únete a Nuestras Redes</h4>
	</div>
	<div class="iconos">
		<div class="social-facebook">{{ dm.link('http://www.facebook.com/megacablesa')}}</div>
		<div class="social-instagram">{{ dm.link('http://www.instagram.com/megacablesa/') }}</div>
		<div class="social-twitter">{{ dm.link('http://www.twitter.com') }}</div>
	</div>
</div>