// This is where you put the contents of the main stylesheet for the user's project.
// It should import your sass stylesheets and demonstrate how to use them.

@import "partials/variables";
@import "dmDefault";

.dm_layout {
  @include container;
  @include susy-grid-background;
}

.dm_layout_top {
@include span-columns(24);
}

.dm_page_content {
@include span-columns(16);
}

.dm_layout_left {
  @include span-columns(4);
}
.dm_layout_right {
  @include span-columns(4 omega);
}

.dm_layout_bottom {
  @include span-columns(24);
}
.pager{
  text-align: center;
  ul{margin: 0;padding:0}
  li {display: inline-block;margin:4px;} 
}
.navigation_bread_crumb {
  li{display: inline-block; margin: 4px;}
  
}
.navigation_menu {}
.navigation_sub_menu{}