{# Vars: $productPager #}

{{ productPager.renderNavigationTop() }}

<ul class="elements">

{% for product in productPager %}

 <li class="element">
		<div class="image">
			{{ dm.link(product).text(dm.media(product.getImageMini).set('.img_product')) }}
		</div>
	    
	   <div class="enlaces">
		    {{ dm.link(product) }}
		    {{ dm.link(product).text('Ver Detalles').set('.btn_detalles_p ') }}
	    </div>

	 </li>
 {% endfor %}
</ul>

 {{ productPager.renderNavigationBottom() }}