{# Vars: $productPager #}

{{ productPager.renderNavigationTop() }}

{% if productPager.count > 0 %}


<div class="cont_producto">

	<div class="titular_int">
		<h2>Productos de {{ category.name }}</h2>
	</div> 

	<ul class="elements">


	{% for product in productPager %}

	 <li class="element">
		<div class="image">
			{{ dm.link(product).text(dm.media(product.getImageMini).set('.img_product')) }}

			<!--
			{% if product.is_new %}
				{{ dm.link(product).text(dm.media('../images/fg_nuevo.png').set('.mask')) }}
			{% else %}
			
			{% if product.is_promo %}
				{{ dm.link(product).text(dm.media('../images/fg_promo.png').set('.mask')) }}
			{% else %}
						
			{% endif %}

			{% endif %}
			-->

		</div>
	    
	   <div class="enlaces">
		    {{ dm.link(product) }}
		    {{ dm.link(product).text('Ver Detalles').set('.btn_detalles_p ') }}
	    </div>

	 </li>
	 {% endfor %}
	</ul>
</div>
{% endif %}

{{ productPager.renderNavigationBottom() }}