{# Vars: $product #}

<div class="cont_producto_int">
	
	<div class="titular_int">
		<h1>{{ product }}</h1>
	</div> 

	<div class="img_gr">
	{# dm.media(product.getImageMini) #}

	{%if product.getImage is defined %}
			{{ dm.media(product.getImage) }}
		{%else%}
			{{ dm.media(product.getImageMini) }}
	{%endif%}
		
	</div>

	<div class="descripcion">
		<p>{{ product.descripcion }}</p>
	</div>



	<div class="container_tab">
		<div class="menu_tab">
			<ul>
				<li class="li li_cara"><a class="tabUnSelected" href="#page_1">Características</a></li>
				<!--<li class="li li_proy"><a class="tabUnSelected" href="#page_2">Construcción</a></li>-->
				<!--<li class="li li_coti"><a class="tabUnSelected" href="#page_3">Aplicación</a></li>-->
			</ul>
		</div>

		<div id="wrapper_tab">
			<div id="page_1" class="page">{{ product.caracteristicas|markdown }}</div>
			
			<!-- <div id="page_2" class="page">{# product.contruccion|markdown #}</div> -->

			<!--<div id="page_3" class="page">{# product.aplicacion|markdown #} </div> -->

		</div>
	</div>

	
 




</div>


