<div class="subtitular titular_bl">
		<h4>Especificaciones</h4>
	</div> 

<div class="cont_csv">
	<table class="csv">
		{% for linea in csvData %}
		
		<tr>
			{% if loop.index == 1 %}
			
				{% for cell in linea %}
					<th>{{ cell }}</th>			
				{% endfor %}
			{% else %}
				{% for cell in linea %}
					<td>{{ cell }}</td>			
				{% endfor %}
			{% endif %}

			
		</tr>

		{% endfor %}

	</table>
</div>
