@import 'modular-scale';
// Links
$link-color:             #08c;
$link-color-hover:        darken($link-color, 15%);

// Grays
$black:                 #000;
$gray-darker:            #222;
$gray-dark:              #333;
$gray:                  #555;
$gray-light:             #999;
$gray-lighter:           #eee;
$white:                 #fff;


//Typography
$base-font-family:        "Ubuntu";
$ms-size: 13px;
$ms-ratio: $golden $fifth;

$normpx : $ms-size;
$medpx : ms(1);
$smallpx : ms(-1);
$xsmallpx : ms(-2);
$xxsmallpx : ms(-3);
$xxxsmallpx : ms(-4);
$largepx : ms(1);
$xlargepx : ms(2);
$xxlargepx : ms(3);
$xxxlargepx : ms(4);

$base-font-size: $normpx;
$base-line-height: $normpx; //$medpx;*/
$text-color: $gray-dark;

// Grid System
$total-columns  : 24;
$column-width   : 32px;
$gutter-width   : 10px;
$grid-padding   : 0;//$gutter-width;
//$container-width: 998px;
$container-style: magic;
$show-grid-backgrounds  : true;

// Breakpoints
$desktop: 800px $total-columns lt-ie9;
$tablet: 0px $total-columns/2 799px;


@import 'susyone';


