%global{
	@include at-breakpoint($desktop)
	{
		.dm_layout {
		  @include container;
		  @include susy-grid-background;
		}

		.dm_layout_top {
		@include span-columns(24);
		}

		.dm_page_banner{
		//@include span-columns(24);
		}

		.dm_page_content {
		@include span-columns(16);
		}

		.dm_layout_menu{
		@include span-columns(24);
		}

		.dm_layout_left {
		  @include span-columns(4);
		}

		.dm_layout_right {
		  @include span-columns(7 omega);
		}

		.dm_layout_bottom {
		  @include span-columns(24);
		  float:none;
		}
	}

	@include at-breakpoint($tablet)
	{
	    .dm_layout {
	      width: 90%;
	      margin: auto;
	      overflow-x: hidden; 
	    }

		.dm_layout_top {
			
		}

		.dm_page_content {
			background: black;
		}

		.dm_layout_left {
			@include span-columns(6);
		}

		.dm_layout_right {
			@include span-columns(6 omega);
		}

		.dm_layout_bottom {
			
		}

	    .movil_collapse{
	      width: 100%;
	      margin-left: 0;
	      img{width: 100%;}
	    }

	    .movil_hiden{
	      display: none;
	    }
	  
	    .slicknav_menu, .movil_show{
	      display: block;
	    }
	}
	
  	@include at-breakpoint($movil)
  	{

	    .dm_layout {
	      width: 100%;
	      margin: auto;
	    }

	    .dm_layout_top {
	    	display: none;
	    }

	 	.dm_page_banner{display: none;}

		.dm_page_content {
			margin-top: 50px;
			margin-bottom: 20px;
		}

	    .dm_layout_left {
	      //@include span-columns(6);
	    }
	    
	    .dm_layout_right {
	      //@include span-columns(6 omega);
	    }

	    .dm_layout_bottom {

	    }

	    .movil_collapse{
	      width: 100%;
	      margin-left: 0;
	      img{width: 100%;}
	    }

	    .movil_hiden{
	      display: none;
	    }
	  
	    .slicknav_menu, .movil_show{
	      display: block;
	    }
	}
}