{{ layout.renderDoctype() }}
{{ layout.renderHtmlTag() }}
<head>
{{ layout.renderHead() }}
</head>
{{ layout.renderBodyTag() }}
{{ sf_content }}
{{ layout.renderEditBars() }}    
{{ layout.renderJavascriptConfig() }}
{{ layout.renderJavascripts() }}
{{ layout.renderGoogleAnalytics() }}
</body>
</html>

