<div id="dm_page" {% if isEditMode %} class="edit" {% endif %} >
	<div class="dm_layout">
		{{ helper.renderArea('layout.top', '.clearfix') }}
		<div class="dm_layout_center clearfix">
			{{ helper.renderArea('layout.left') }}
			{{ helper.renderArea('layout.right') }}
			{{ helper.renderArea('page.content') }}
		</div>
		{{ helper.renderArea('layout.bottom', '.clearfix') }}
	</div>
</div>
{{ helper.renderBehaviors() }}
