@import "compass/reset";
@import "compass/css3";
//@import "dmDefault/scaffolding";
@import "dmDefault/mixins";
//@import "dmDefault/type";
@import "dmDefault/utils";


//Grid System

@for $i from 1 through $total-columns {
	.span#{$i} {@include span-columns($i);}
}

@for $i from 1 through $total-columns {
	.offset#{$i} {@include push($i);}
}

.omega { @include omega; }

.endrow {
	display: inline;
	margin-right: 0;
}

ul{margin: 10px;}

li{ list-style-type: disc;}

.svg-image{
  display: inline-block;
  width: 100%;
  overflow: hidden;
}