{{ layout.renderDoctype() }}
{{ layout.renderHtmlTag() }}
<head>
{{ layout.renderHead() }}
</head>
{{ layout.renderBodyTag() }}
{{ sf_content }}
{{ layout.renderEditBars() }}    
{{ layout.renderJavascriptConfig() }}
{{ layout.renderJavascripts() }}
{{ layout.renderGoogleAnalytics() }}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43354330-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-43354330-3');
</script>


</body>
</html>

