<div id="dm_page" {% if isEditMode %} class="edit" {% endif %} >
	
	<div class="bg_top">
		<div class="dm_layout clearfix">
			{{ helper.renderArea('layout.top', '.clearfix') }}
		</div>
	</div>

	<div class="cont_banner">
		{{ helper.renderArea('page.banner') }}
	</div>

	<div class="dm_layout">	
		<div class="dm_layout_center info_inner clearfix">
			<div class="info">
				{{ helper.renderArea('page.content') }}
				{{ helper.renderArea('layout.right') }}
			</div>
			
		</div>

	</div>

	<div class="cont_footer">
		<div class="dm_layout">
			{{ helper.renderArea('layout.bottom', '.clearfix') }}
		</div>
	</div>

</div>
{{ helper.renderBehaviors() }}