@mixin make-menu($align: left,
				 $color: $text-color, 
				 $hover: white, 
				 $background: white, 
				 $background-hover: $text-color, 
				 $orientation: horizontal, 
				 $separator: '', 
				 $margin: 0, 
				 $padding:0, 
				 $separator-margin:0, 
				 $separator-padding: 0,
				 $separator-color: black,
				 $font: $base-font-family,
				 $border: none,
				 $border-radius: 0,
				 $display: inline-block, 
				 $height: auto){

	text-align: $align;
	ul,li,a,span{ outline: none }
	a.dm_current, span.dm_current{ color: $hover;
			height: $height;
	 	  display: $display; 
	 	  background: $background-hover; 
	 	  padding: $padding;
	 	  border: $border;
		  @include border-radius($border-radius);
		}
	ul{
		margin:0;
		padding:0;
	
		@if $orientation==horizontal
		{
			display: inline-block;
			li { float: left;}
		}
		@if $orientation==vertical
		{
			display: block;
		}
		li{
			margin: $margin;
			list-style: none;
			@if $separator!=''{
				&:after{ text-align: center;
						 content: $separator; 
						 margin: $separator-margin; 
						 padding: $separator-padding; 
						 color: $separator-color; 
						 vertical-align: middle;
						 display: inline-block;}
			&:last-child{ 
				&:after{ content: ""; margin: 0; padding: 0 }
			}
		}

		a{
			padding: $padding;
			height: $height; 
			font-family: $font;
			display: $display;
			color: $color;
			background: $background;
			border: $border;
			@include border-radius($border-radius);
			cursor: pointer;
			text-decoration: none;
			&:hover{
				color: $hover; background: $background-hover;
			}
		}
		span{
			font-family: $font;
			}
		}
	}
} 


@mixin form($color: black,$background: white, $radius: 0, $font: $base-font-family,$make-btn: true, $margin: 0){

	
color: $color;

ul{ margin: 0; }
.dm_form_element{ 
	margin: 20px 0;
	list-style: none;
	display: block; 
	position: relative;
}
label{   font-size: $smallpx + ($smallpx / 3); margin-bottom: 7px; display: none;  }

input[type='text'], textarea, select{
        color: $color;
        background: lighten($background,0.5%);
        border: 0;
        width: 90%;
        font-family: $font;
        font-size: $normpx;
        padding: 10px;
        margin: $margin;
        @include border-radius($radius);
    }

    select{ width: 97%; }

   	@if $make-btn == true {
	    	input[type='text']:focus, textarea:focus, button:hover, input[type='submit']:hover{
			color: darken($color,50%);
			background: lighten($background,50%);
			transition: all 0.2s ease-in-out;
    	}
	    button, input[type='submit']{
	    	margin: $margin;
	        display: inline-block;
	        border: 0;
	        background: $color url(../images/bg_button.png) no-repeat;
	        color: $background;
	        padding:  10px;
	        font-family: $font;
	        cursor: pointer; 
	        @include border-radius($radius);
	    }

		
	}
	@else {
		input[type='text']:focus, textarea:focus{
			color: darken($color,50%);
			background: lighten($background,50%);
			transition: all 0.2s ease-in-out;
		}
	}
	
	.error, .error_list { 
        li{
        	position: absolute;
        	width: 10px;
        	height: 10px;
        	right: 17px;
        	top: 20%;
        	list-style: none;
            text-align: center;
            background: url(../images/icons/error.png) 50% center no-repeat;
            background-size: 100%;
            text-indent: -1000px;
            padding: 7px;
            overflow: hidden;
            display: block;
        }
    }

}