@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

@mixin ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

@mixin ie7-restore-right-whitespace() {
  *margin-right: .3em;

  &:last-child {
    *margin-left: 0;
  }
}

@mixin size($height: 5px, $width: 5px) {
  width: $width;
  height: $height;
}
@mixin square($size: 5px) {
  @include size($size, $size);
}

@mixin placeholder($color: $placeholderText) {
  :-moz-placeholder {
    color: $color;
  }
  ::-webkit-input-placeholder {
    color: $color;
  }
}


    @mixin family-serif() {
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    @mixin family-sans-serif() {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    @mixin family-monospace() {
      font-family: Menlo, Monaco, "Courier New", monospace;
    }

  @mixin shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
  }
  @mixin serif($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    @include family-serif();
    @include shorthand($size, $weight, $lineHeight);
  }
  @mixin sans-serif($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    @include family-sans-serif;
    @include shorthand($size, $weight, $lineHeight);
  }
  @mixin monospace($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    @include family-monospace;
    @include shorthand($size, $weight, $lineHeight);
  }

//Grid System

/*@mixin column($columns) {
width: ($columns * $gridColumnWidth) + ($gridGutterWidth * ($columns - 1));
margin-right: $gridGutterWidth;
}
@mixin offset($columns) {
margin-left:($columns * $gridColumnWidth) + ($gridGutterWidth * ($columns))
}
@mixin fixed-container() {
  width: $gridRowWidth;
  margin-left: auto;
  margin-right: auto;
  @include clearfix();
}*/
