@mixin make-menu($align: left,
				 $color: $text-color,
				 $hover: white,
				 $fill: $text-color,
				 $fill-hover: white,
				 $background: white,
				 $background-hover: $text-color,
				 $orientation: horizontal,
				 $animation: 0.0s, // 0.1s - 0.8s
				 $separator: '',
				 $margin: 0,
				 $padding:0,
				 $separator-margin:0,
				 $separator-padding: 0,
				 $separator-color: black,
         		 $separator-background: red,
				 $font: $base-font-family,
				 $border: none,
				 $border-radius: 0,
				 $display: inline-block,
				 $height: auto){

	text-align: $align;
	ul,li,a,span, .svg{ outline: none; transition: all $animation ease-in-out;}
  a.link, span{
      color: $color;
      height: $height;
      display: $display;
      background: $background;
      padding: $padding;
      border: $border;
      @include border-radius($border-radius);
      
  } 
  a.link:hover,  span  {
      color: $hover;
      height: $height;
      display: $display;
      background: $background-hover;
      padding: $padding;
      border: $border;
      @include border-radius($border-radius);
  }
  	.svg-image{fill: $fill; }
    .svg-image:hover{fill: $fill-hover;}

	ul{
		margin:0;
		padding:0;


		@if $orientation==horizontal
		{
			display: inline-block;
			li { float: left;}
		}
		@if $orientation==vertical
		{
			display: block;
		}
		li{
			margin: $margin;
			list-style: none;
			@if $separator!=''{
				&:after{ text-align: center;
						 content: $separator;
						 margin: $separator-margin;
						 padding: $separator-padding;
						 color: $separator-color;
						 vertical-align: middle;
             background: $separator-background;
						 display: inline-block;}
			&:last-child{
				&:after{ content: ""; margin: 0; padding: 0 }
			}
		}

		a{
			padding: $padding;
			height: $height;
			font-family: $font;
			display: $display;
			color: $color;
			background: $background;
			border: $border;
			@include border-radius($border-radius);
			cursor: pointer;
			text-decoration: none;
			&:hover{
				color: $hover; background: $background-hover;
			}
		}
		span{
			font-family: $font;
			}
		}
	}
}


@mixin form($color: black,$background: white, $radius: 0, $font: $base-font-family,$make-btn: true, $margin: 0){


color: $color;

ul{ margin: 0; }
.dm_form_element{
	margin: 20px 0;
	list-style: none;
	display: block;
	position: relative;
}
label{   font-size: $smallpx + ($smallpx / 3); margin-bottom: 7px; display: none;  }

input[type='text'], textarea, select{
        color: $color;
        background: lighten($background,0.5%);
        border: 0;
        width: 90%;
        font-family: $font;
        font-size: $normpx;
        padding: 10px;
        margin: $margin;
        @include border-radius($radius);
    }

    select{ width: 97%; }

   	@if $make-btn == true {
	    	input[type='text']:focus, textarea:focus, button:hover, input[type='submit']:hover{
			color: darken($color,50%);
			background: lighten($background,50%);
			transition: all 0.2s ease-in-out;
    	}
	    button, input[type='submit']{
	    	margin: $margin;
	        display: inline-block;
	        border: 0;
	        background: $color url(../images/bg_button.png) no-repeat;
	        color: $background;
	        padding:  10px;
	        font-family: $font;
	        cursor: pointer;
	        @include border-radius($radius);
	    }


	}
	@else {
		input[type='text']:focus, textarea:focus{
			color: darken($color,50%);
			background: lighten($background,50%);
			transition: all 0.2s ease-in-out;
		}
	}

	.error, .error_list {
        li{
        	position: absolute;
        	width: 10px;
        	height: 10px;
        	right: 17px;
        	top: 20%;
        	list-style: none;
            text-align: center;
            background: url(../images/icons/error.png) 50% center no-repeat;
            background-size: 100%;
            text-indent: -1000px;
            padding: 7px;
            overflow: hidden;
            display: block;
        }
    }

}


@mixin triangle-background($width, $height, $color) {
    position: relative;
    padding-bottom: $height;
    &::after {
        $w_int: $width/1px;
        $h_int: $height/1px;
        $v_pad: ($height / $width) * 100 + 1;
        // we must use rgb because the # in hex doesn't work in some browsers
        $rgb_color: 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';

        padding: #{$v_pad}% 0 0;
        background-position: 50%;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,0 0,#{$h_int} #{$w_int},#{$h_int} #{$w_int},0 #{$w_int/2},#{$h_int}" style="fill:#{$rgb_color};stroke:#{$rgb_color};stroke-width:0"></polygon></svg>');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        content: '';
    }
}


@mixin make-article($orientation: horizontal,
         $title-size: $largepx, 
         $title-color: orange, 
         $color: $gray-dark,
         $padding: 0,
         $margin: 0, 
         $border: 0px solid red,
         $border-radius: 0,
         $information-padding:0,
         $information-align: left){

    .elements{
      overflow: hidden;
      margin:0;
      padding:0;
    }

    .element{ 
      overflow: hidden;
      list-style: none;  
    }
    
    article{ 
      overflow: hidden;
      margin: $margin;
      padding: $padding; 
      border: $border;
      @include border-radius($border-radius);
    }

    a{ text-decoration: none; }
    
    %image{ 
      position: relative; overflow: hidden; display: table-cell;
      //background: red; 
      text-align: center; 
      //ancho 100%      
    	img{width: 100%; min-height: 100%; }  
      /*
      //imagen alto 100%
      img{width: auto; height: 100%; position: absolute; left:0; min-width: 250px; min-height: auto;       }  
      */
    }
  
    .information_inner{
        padding: $information-padding;
        color: $text-color;
        text-align: $information-align;
        overflow: hidden;
        height: 100%;
    }

    a.title{ font-size: $title-size; color: $title-color; display: block; margin-bottom: 15px;}
    a.btn_view_more{ display: block;  }

    @if $orientation==horizontal
    {
      .image{ 
        @extend %image;
        height: 100%;
        @include span-columns(10); 
        //display: block;
      }
      .information{
        height: 100%;
        @include span-columns(14 omega);
      }
    }
    @if $orientation==vertical
    {
      .image, .information{ display: block; clear:both; overflow: hidden;}
      //.information{ @extend %information; }

    }
}