$f1 : 'AvenirNextRegular';
$f2 : 'AvenirNextRegular';
$f3 : 'AvenirNextBold';
$f4 : 'AvenirNextBold';
$f5 : 'AvenirNextRegular';


@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../ttf/AvenirNextLTPro-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../ttf/AvenirNextLTPro-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

/*
--------------------------------
@font-face {
    font-family: 'ExoRegular';
    src: url('../ttf/Exo-Regular-webfont.eot');
    src: url('../ttf/Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Regular-webfont.woff') format('woff'),
         url('../ttf/Exo-Regular-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Regular-webfont.svg#ExoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ExoMediumItalic';
    src: url('../ttf/Exo-Medium-Italic-webfont.eot');
    src: url('../ttf/Exo-Medium-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Medium-Italic-webfont.woff') format('woff'),
         url('../ttf/Exo-Medium-Italic-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Medium-Italic-webfont.svg#ExoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExoDemiBoldItalic';
    src: url('../ttf/Exo-DemiBold-Italic-webfont.eot');
    src: url('../ttf/Exo-DemiBold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-DemiBold-Italic-webfont.woff') format('woff'),
         url('../ttf/Exo-DemiBold-Italic-webfont.ttf') format('truetype'),
         url('../ttf/Exo-DemiBold-Italic-webfont.svg#ExoDemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExoBold';
    src: url('../ttf/Exo-Bold-webfont.eot');
    src: url('../ttf/Exo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Bold-webfont.woff') format('woff'),
         url('../ttf/Exo-Bold-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Bold-webfont.svg#ExoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExoBoldItalic';
    src: url('../ttf/Exo-Bold-Italic-webfont.eot');
    src: url('../ttf/Exo-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ttf/Exo-Bold-Italic-webfont.woff') format('woff'),
         url('../ttf/Exo-Bold-Italic-webfont.ttf') format('truetype'),
         url('../ttf/Exo-Bold-Italic-webfont.svg#ExoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

-------------------------------------------------------------------------------
@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('AvenirNextLTPro-Cn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed'), url('AvenirNextLTPro-DemiCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed'), url('AvenirNextLTPro-HeavyCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed'), url('AvenirNextLTPro-MediumCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed'), url('AvenirNextLTPro-UltLtCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed'), url('AvenirNextLTPro-BoldCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed Italic'), url('AvenirNextLTPro-BoldCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed Italic'), url('AvenirNextLTPro-CnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed Italic'), url('AvenirNextLTPro-DemiCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Italic'), url('AvenirNextLTPro-DemiIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed Italic'), url('AvenirNextLTPro-HeavyCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Italic'), url('AvenirNextLTPro-It.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed Italic'), url('AvenirNextLTPro-MediumCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed Italic'), url('AvenirNextLTPro-UltLtCnIt.woff') format('woff');
}
*/