// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------

@import 'susyone';

// GLOBAL VALUES

$t1: #fff; 			// blanco
$t2: #0099ff;		// azul fondo
$t3: #0099ff;		// azul oscuro
$t4: #ffffff;		// celeste claro  6ea3d7;
$t5: #f63538;		// roja anaranjado

$t6: #f2ecc2;		// detalle de precio
$t7: #e86a18;		// naranja cuotas
$t8: #4599ba;		// celeste claro
$t10: #51a9cc;		// turquesa

// --------------------------------------------------

// Links
$linkColor:             #08c;
$linkColorHover:        darken($linkColor, 15%);

// Grays
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;

// Accent colors
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

// Typography
$baseFontSize:          14px;
$baseFontFamily:        "AvenirNextRegular";
$baseLineHeight:        18px;
$textColor:             #666666;

// Buttons
$primaryButtonBackground:    $linkColor;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;

// Input placeholder text color
$placeholderText:       $grayLight;

// Navbar
$navbarHeight:                    40px;
$navbarBackground:                $grayDarker;
$navbarBackgroundHighlight:       $grayDark;

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLight;
$navbarLinkColorHover:            $white;

// Form states and alerts
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);



// GRID
// --------------------------------------------------

// Grid System
$total-columns  : 24;
$column-width   : 32px;
$gutter-width   : 10px;
$grid-padding   : 0;//$gutter-width;


$container-style: magic; // fluid, magic
$show-grid-backgrounds  : false;

// Breakpoints
$desktop:                 1000px $total-columns;
$tablet:                  768px $total-columns/2 1000px;
$movil:                   0px $total-columns/2 767px;