{# Vars: $form #}


<div class="cont_contactos">
	<div class="contactos">
		{% if sf_user.hasFlash('success') %}
		<div class="flash">Gracias por contactarse con nosotros.</div>
		{% endif %}

		{{ form.open() }}

		<div class="error">{{ form['email'].error() }}</div>
			
		<div class="contactos">
			<div class="comp">
				<label for="name">Nombre:</label>
				{{ form['name'].field('. placeholder = Registre su Nombre')}}
			</div>
			<div class="comp">
				<label for="email">Email:</label>
				{{ form['email'].field('. placeholder = Registre su Email')}}
			</div>
			<div class="comp">
				<label for="comment">Comentario:</label>
				{{ form['comment'].field('. placeholder = Escriba su comentario')}}
			</div>
			<div class="btn">
				{{ form.submit('Enviar') }}
			</div>
		</div>

		{{ form.renderHiddenFields() }}
		{{ form.close() }}
	</div>
</div>