.category_list_root{

    .elements{
        margin: 0;
        padding: 0;
        .element{
            //background: green;
            @include isolate-grid(6,36);
            overflow: hidden;
            article{
                background: #fcffff;
                border: 2px solid #d8d8d8;
                text-align: center;
                .ima_catmenu{ 
                    img{
                        width: 100%;
                    }
                }
                .text_catmenu{ 
                    /*background: yellow;*/    
                    padding: 10px 6px 10px 6px;
                    p{
                        font-family: $baseFontFamily;
                        font-size: 12px;
                        text-transform: uppercase;
                        line-height: normal;
                        color: #0099ff;
                        display: inline-block;
                        /* background: red; */
                        vertical-align: sub;
                    }
                }
            &:hover{ background: #0099ff; p{color:#ebebeb; font-weight: bold;}}
            }
            span.link.dm_current{ article{background: #0099ff;} p{color:#ebebeb; font-weight: bold;} }
        }
    }   
}

/*
ul{
        margin: 0px;
        overflow: inherit;
        .cat-info{
            display: table-row;
            .cat-hover{
                margin-top: -182*2px;
                background: rgba(0,0,0,0);
                padding: 75px 4px 182px 0px;
                @include transition-property(all);
                @include transition-duration(.4s);
                @include transition-timing-function(ease);
                display: table-cell;
                vertical-align: middle;
                &:hover, &.dm_current{
                    background: rgba(0,0,0,.7);
                    margin-top: -182px;
                    padding-bottom: 0px;    
                }
            }
            .cat-on:hover .cat-hover{}
            .cat-on{img{margin-left: -30px;}}
            a,span{
                display: block;
                width: 100%; 
                color: white;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                padding-right: 5px;
                height: 182px;
            }
        }
        li{ 
            @include isolate-grid(6,36);
            float: left;
            position: relative;
            overflow: hidden;
            height: 182px;
            a{
                float: left;
                position: relative;
                display: block;
                color: $white;
                font-family:'arial';
                font-style: italic;
                font-weight: bold;  
            }
            a:hover{text-decoration: none;}
            span{
                float: left;
                position: relative;
                display: block;
                color: $white;
                font-family:'arial';
                font-style: italic;
                font-weight: bold;
                background: url('../images/vn_over_bl.png') no-repeat 60% 95%;
            }
            .last{ border: 0px}        
        }
        li:hover{}
    }*/