/* SUSCRIPCIONES */

.cont_contactos{}

.cont_cotiza{ width: 60%; margin: auto;}

    $w_cont: 100%;
    $h_cont: 40px;

    $p_cont: 0%;

    $b_comp: 0px;
    
    $radius_cont: 10px;


.contactos{
        font-family: $baseFontFamily;
    label{
        color: #666666;
        font-size: 13px;
        padding-bottom: 15px;
        display: inline-block;
    }
    .comp{
        width: 97%;
        margin: 10px 0;
	&:first-child{ margin-top: 0;}
    }
    .btn{
        width: 90px;
        float: left;
        margin-top: 20px;       
    }
    

    input[type='text'], textarea{
        width: $w_cont;
        padding: $p_cont;
        height: $h_cont;
        line-height: $h_cont;
        text-indent: 15px;
        color: #666666;
        background:  white;
	    border: 1px solid #999999;
        font-family: $baseFontFamily;
        font-style: italic;
    }
    input[type='text']:hover, input[type='text']:focus{
        //background: darken($white, 0.2);
        //@include box-shadow (rgba($black, 0.5) 0 0 5px inset );
        //color: $t3;
    }

    textarea{
        width: $w_cont;
        padding: $p_cont;
        height: 148px;//$h_cont * 3;
        line-height: $h_cont;
        text-indent: 15px;
        color: $t3;
        background: white;
        border: 1px solid #999999;
        font-family: $baseFontFamily;
        font-style: italic;
    }

    textarea:focus{
        //background: darken($white, 0.2);
        //@include box-shadow (rgba($black, 0.5) 0 0 5px inset );
        color: #666666;
    }


    input[type='submit']{
        background: #0099ff  url('../images/bg_btn.png') no-repeat 95% 50%;
        //line-height: 30px;
        height: 30px;
        border:0;
        //margin: 10px auto;
        padding: 0 45px 0 15px;
        display: inline-block;
        color: white;
        font-family: $baseFontFamily;
    }

    input[type='submit']:hover{
        background: #888888   url('../images/bg_btn.png') no-repeat 95% 50%;
        cursor: pointer;
        //color: #666;
    }

li{list-style: none;}

}

.telefonos{
    color: darken($white, 30%);
    p{font-size: 18px; }

    .li{float: left;  width: 35%; margin: 0px 10px 0px 20px; padding-top:10px;}
}

.formulario{
    padding-bottom: 40px;
}