.pager{
  text-align: center;
  ul{margin: 0;padding:0}
  li {display: inline-block;margin:4px;} 
}
.navigation_bread_crumb {
  li{
    display: inline-block; 
    margin: 4px;
    a{
      color: #333;
      text-decoration: none;
      &:hover{ color:#006699;}
    }
    span.link.dm_current{color:#006699;}
  }
}
.navigation_menu {}
.navigation_sub_menu{}

.center_ima{ text-align: center;}

//------------------------------------
.search_form{
	//background: red;

	margin-bottom:20px;
	form{
		position: relative;
		//background: green;
		label{display: none;}
	  	input[type='text'], textarea, select{ 
			width: 90%;
    		border: 0;
    		padding: 10px;
	  	}
	  	//input[type='text']:hover, input[type='text']:focus{background: lighten($blue,10%);}
	  	button, input[type='submit']{ 
	  		background: $blue;
	  		border: 0;
    		padding: 10px;
    		color: white;
    		cursor: pointer;
    		float: right;
    		z-index: 1100;
    		position: absolute;
    		right: 0;

	  	}
	
	}
	
}

.search_results{
	  		button:hover, input[type='submit']:hover{ background: #afafaf; }
			position:relative;

			h1{ font-size: 20px;} 
			ol,ul{
			    list-style: none;
				    li{
				      list-style-type: none;
				      margin-bottom: 25px;
				      font-size: 15px;
				      position: relative;

				    
					    .page_name{ 
					    	clear:both; 
					    	display: block; 
					    	color: $t3; 
					    	font-weight:bold; 
					    	font-size:18px; 
					    	margin-bottom: 7px;
					    }
					    a.link{ color:gray; width:90%; display: block; }
					    span.score{ position: 
					    	absolute; 
					    	right:0; 
					    	top:25%; 
					    	color: $t3; 
					    	font-size:25px; 
					    	font-family:AvenirNextRegular;
					       }
					}
			}

}
//-------------------------------------

// GENERAL


.bg_top{
	background: url(../images/barra_top.png) no-repeat center top;
	min-height: image-height('../images/barra_top.png'); 
}

.edit .cont_banner{ top: 0; position: static; z-index: 0;}
.cont_banner{
    top: -80px;
    position: relative;
    z-index: -1;
    margin-bottom: -41px;
    img{ width: 100%; height: auto;}
}



.cont_footer{ 
	background: $t1;
	margin-top: 50px;
	color: $textColor;
    padding-top: 20px;
    padding-bottom: 20px;
	.dm_layout_bottom {
		//background: red;
		.content_text { 
			p{
				font-family: $baseFontFamily;
				font-size: 11px; 
				line-height: 12px;
				margin-top: 13px;			
			}
		}
		.main_social_icons {
			//background: purple;
			.socialIcons{
				overflow: hidden;
				margin: 20px 0 20px 0;
				.texto{ 
					float: left; 
					font-family: $baseFontFamily;
					margin-right: 10px; 
					line-height: 40px;
				}
				.iconos{ 
					float: right;
					div{
						text-indent: -9999999px;
						display: inline-block;
						a{ display: block; height: inherit; }
					}
				}
			}
		}
	}
}



.btn_titular{
	h1{ 
		color: $white; 
		background: $t2 url('../images/bg_btn_titular.png') no-repeat center top; 
		position: absolute; 
		bottom: 15px;
		left: 50%;
		width: 250px;
		margin-left:-125px;
		display: inline-block;
		text-align: center;
		border: 1px solid $t2;
		padding: 5px 25px;
		border-radius: 4px;
		font-family: $f3;
		font-size: 20px;
		letter-spacing: 1.3px;
		z-index:1000;
	}
}


.map{
  margin: 30px 0px 30px 30px;
  border-left: 1px solid $t3;
  text-align: right;
  .texto{text-align: right;}
}

.special-border{
  border: 1px solid #999999;
  height: 310px;
}

iframe{/*border-radius: 15px;*/}

li{ list-style: none; }

.li_pdf{
	background: url('/theme/images/iconos/ico_descarga2.png') no-repeat 0% 50%;
	padding: 6px 0 6px 30px;
	color: #666666;
	display: block;
	margin-left:22px;
}


.btn_detalles_p{
	background: #0099ff  url('../images/bg_btn.png') no-repeat 95% 50%;
    line-height: 30px;
    margin: 10px auto;
    padding: 0 45px 0 15px;
    clear: both;
    position: absolute;
    bottom: 15px;
    color: white !important;
    left: 50px;
	&:hover{background: #afafaf  url(../images/bg_btn.png) no-repeat 95% 50%; }
}

.btn_detalles_r,.btn_detalles{
    background: #0099ff url(../images/bg_btn.png) no-repeat 95% 50%;
    line-height: 30px;
    font-family: $baseFontFamily;
    padding: 0 45px 0 15px;
    display: inline-block;
    clear: both;
    float: right;
    color:white;
    &:hover{background: #afafaf  url(../images/bg_btn.png) no-repeat 95% 50%; font-weight: bold;}
}

.bt_blue{
	padding: 13px 10px 13px 22px;
	background: #0099ff;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: "AvenirNextRegular";
	letter-spacing: 0.6px;
	text-align: center;
	margin-top: 20px;
	a{color: white;}
}

.bt_blue_title{
    padding: 13px 10px 13px 22px;
    background: #0099ff;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "AvenirNextRegular";
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: -3px;
	a{color: white;}
}





.edit .title_ini{ margin: 0;}
.title_ini {
    margin-top: 30px;
    margin-bottom: -70px;
}


.message{
	padding: 30px;
	color: $t1;
	text-align: center;
}

.seccion{
	margin: 20px 0px 30px 0px;
}

//----Proyectos--------------
.info_inner{
	margin-top: 20px;
	padding-top: 20px;
	.info{
		//overflow: hidden; 
	}
}


.space_zona{margin: 25px 0;}


.markdown{ 
	font-family: "AvenirNextRegular";
	color:#666;
	font-size: 14px;

	ul {
	    list-style: none; /* Remove list bullets */
	    padding: 0;
	    margin: 0;
	}

	li {
	    padding-left: 16px;
	}

	li:before {
	    content: "•"; /* Insert content that looks like bullets */
	    padding-right: 8px;
	    color: $t10; /* Or a color you prefer */
	}
}