.edit .menu_main{margin-top: 0;}
.menu_main{ 
    margin-top: 43px;
    text-transform: uppercase;
    font-family: $f1;
    ul{   
        overflow: hidden;
        float: right;
        li{
            list-style: none; 
            float:left;
            overflow: hidden;
            border-right: 1px solid #ccc;
            a, span{  
                margin: 0 10px 0 10px; 
                line-height: 20px;
                padding-right: 0;
                font-size: 13px;
            }
            a{  color: $gray; text-decoration: none; }
            a:hover{ color: $t2;}
            span,.dm_parent{ color: $t2; }
            &:last-child, .last{  border-right: 0px; a{ margin-right: 0; }  }    
        }
        .dm_current{ 
            a, span{ color: $t2;}
        }
        .first{ a, span{border-left: 0px; }.dm_parent{color: $gray;}  }
            
    }
}



.menu_footer{ overflow: hidden; float: right;
    ul{  color: $t2;  margin: 5px; font-weight: bold;
            
        li{
            list-style: none; float:left;
            a{  color: $t2; padding: 5px 15px; border-right: 1px solid rgba($t1, 0.3);  display: inline-block;}
            a:hover{color: $t2; text-decoration: underline;}
            span{ color: $t1; padding: 5px 15px;  border-right: 1px solid rgba($t1, 0.3); display: inline-block; }
        }

        .dm_current{ a{ border-right: 0px;}}

        .first{  a{border-left: 0px; }  }

        .last{ a{border-right: 0px; }  }   
    }
}


.fix-height{
  height: 200px;  
}

.menu_vertical{
    
    ul{
        padding: 0px 10px 0px 20px; margin:0px;
        li{    
            display: table;
            width: 100%;
            height: 40px;	       
            a{
                background: url('../images/bg_btn.png') no-repeat left;
    		    padding-left: 35px;
    		    vertical-align: middle;
                color: $textColor;
                display: inline-block;
                border-bottom: 1px solid #c3c3c3;
                width: 90%;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 11px;
            }
            a:hover{
                color: $t2;
                text-decoration: none;
            }
        }
    }
}