 /* NOTICIAS */

.cont_news{
  background: $t3 url(../images/bg_info.jpg) repeat-x top;
  .dm-layout{  background:url(../images/bg_info_center.jpg) no-repeat top;}
}


.news_home{ width: 100%;
  padding: 0 0 30px 0px;

  ul{ padding: 0px; margin: 0px;
    overflow: hidden;
    li{
      width: 45%;
      overflow: hidden; margin: 0px;
      padding-left: 20px;
      float:left;
      border-left: 1px dotted $t3;

      &:first-child{border-left: 0px; padding-right: 30px;}
      &:nth-child(2){padding-left: 45px;}

      .image_news_home{ float: left; width: 30%;
        img{width: 100%; height: 100%; margin: 20px 0;border: 1px solid #999999;}
      }
      .cont_info_news_home{
        float: left; width: 60%; margin-top: 10px; padding: 15px 0 0 10px;
        h5{ 
          a,span{color:#666666 !important;} 
          .dm_current{ background: red; color:#666666 !important;}
        }
        p{ margin-top: 5px;  }
      }
    }
  }
}

.news_home_op2{ width: 100%; padding-top: 40px;
  h1{font-size: 24px; color: $t1;}
  ul{ padding: 0px; margin: 0px; overflow: hidden;
    li{ display: block; float:left;  margin: 10px; width: 45%; height: 260px;}

      .image_news_home{ 
        float: left; width: 100%; height: 130px;
        overflow: hidden;
        img{width: 100%; height: auto; min-height: 150px; margin: 0 0 20px 0;}
      }
      .cont_info_news_home{
        float: left;  padding:15px 10px; background: $t3;
        width: 100%;
        a{color: $t1; text-decoration: none;}
        p{margin: 0px;}
      }
    }
    li:hover{ 
      background: url('../images/bg_white.png'); 
      @include border-radius (15px); 
    }
}

.new_item_list { 
  margin-top: 25px;
  ul{ 
    padding: 0px; margin: 0px;
    li{
      clear: both;  
      padding: 20px 10px;
      overflow: hidden;
      //border-top: 1px solid #afaeae;
      border-bottom: 1px solid #afaeae;

      //&:first-child{border-top: 0px;}
      &:last-child{border-bottom: 0px;}
      
      .image_news{
        width: 30%;
        float: left;
        img{
         width: 100%; 
         min-height: 150px; 
         width: auto; 
         float: left;
         border: 1px solid #afaeae;
        }
      }
      .cont_info{
        width: 60%; 
        float: left; 
        margin-left: 30px;
        padding: 15px 0 0 10px;
        h3{a{color:#666666}}
        p{ margin-top: 10px;}
       }
    }
  }
}

.titular_interior{ margin: 50px 0px 10px 30px; }

/* PAGINA NOTICIA - DETALLE */
.news{  

  .titular_news {
      background: white;
      padding: 4px;
      margin-bottom: 15px;
  }
  .red_count{li{float: left;}}
  .image{
    clear: both;
    width: 100%;
    margin-bottom: 15px;
    img{
      @include box-shadow(rgba(black, 0.2) 0px 0px 15px);
      border: 1px solid #afaeae;
      width: 100%;
      height: auto;
      min-height: 300px;
    }
  }
  p{
    padding:0px; 
    text-align: justify;
    line-height: normal;
  }


  ol{ padding: 0px;
    li{list-style-image: url('../images/vn_nr.png'); }
  }

  .galeria{margin-top: 30px;
    h3{ 
      padding: 10px 10px 10px 20px;
      background: $t2;
      margin-bottom: 10px;
      letter-spacing: 0.6px;
    }
    img{
      border: 1px solid #afaeae;              
      width: 100px; height: 100px;  
    }
    img:hover{}       
  }
  a{ color: $white; text-decoration: none; }
}

.new_item_list_menu { 
  width: 100%;
  ul{ 
    padding-left: 10px; 
    margin: 0px; 
    overflow: hidden;
    li{ 
      display: block; 
      clear: both; 
      padding: 15px 0;
      overflow: hidden;
      &:first-child{ border-top: 0px; }
      &:last-child{ border-bottom: 0px; }
      border-top: 1px solid #afaeae;
      .date_menu{ 
        float: left; 
        width: 70px;
        background: url('../images/bg_date.png') no-repeat right 50%;
        .date{float: left;  padding: 0px 30px 0 0; text-align: center;}
        .month{font-family: $f1; font-weight: bold; font-size: 20px; padding: 0 0 15px 0; color: $t2; }
        .day{font-family: $f1; font-weight: bold; font-size: 32px; color: $t2; }
      }

      .image_news_menu{ float: left; width: 30%; margin: 0 15px 0px 0;}
      img{width: 100%; height: auto; min-height: 70px; border: 1px solid #afaeae;}
      .cont_info_news_menu{
        float: left;  
        width: 60%;
        h5{ display: block; a,span{color:#666666}}
      }
    }    
  }
}

.img-fix img{ border: 1px solid #afaeae; }