.pager{
  text-align: center;
  position: relative;
  bottom: -5px;
  $s: 30px;
  ul{
    margin: 0; 
    padding:0; 
  }
  li {
    border: 0 !important;
    display: inline-block; 
    font-size: 15px;  
    a{ 
      color: $t4; 
      background: darken($t2, 3%);  
      padding: 8px 12px; 
      border-radius: $s; 
      height: $s; 
      width: $s; 
      line-height: $s; 
    }
    a:hover{text-decoration: none; color: $t1; background: #696969;}
    span,.current{ 
      color: $t1; 
      background: #696969; 
      padding: 8px 12px; 
      border-radius: $s; 
      height: $s; 
      width: $s; 
      line-height: $s; 
    }
  }

  .page{}
  .current{}
  .next{display: none;}
  .last{display: none;}
  .first{display: none;}
  .prev{display: none;}
}


/** BG NIVO SLIDER **/
.page_main_root .content_nivo_gallery:before{
  content:" ";
  display: block;
  background: url(../images/sobre_impresion_megacables.png);
  height: 406px;
  width: image-width("../images/sobre_impresion_megacables.png");
  position: absolute;
  top: -2px;
  z-index: 10;
}

.page_main_root .edit{
  .content_nivo_gallery:before{ display: none;} 
}

.nivo-caption[style]{
  opacity: 1!important;
  z-index: 20;
}

.nivo-caption{
  background: transparent!important;
  top: 40px;
  p{
    color: #FFF;
    padding-right: 20px!important;
    font-family: "ExoDemiBoldItalic";
    font-size: 30px;
    line-height: 1em;
    text-align: right;
  }
}

.nivo-directionNav{
  z-index: 30!important;
  .nivo-prevNav, .nivo-nextNav{z-index: 30!important;}
}

.nivo-controlNav{
  bottom: 10px!important;
  right: 20px;
  z-index: 30!important;
}
