.cont_lista_cat{
	background: darken($t2, 3%);
	border-radius: 15px;
	ul{
		margin: 0px;
		li{
			padding: 5px 20px 5px 20px;
			margin: 0px;
			a{
				padding: 10px 10px 10px 20px;
		        border-radius: 3px;
		        display: block;
		        background: $t3 url('../images/bg_btn.png') no-repeat 99% 50%;
		        color: $t1;
		        font-family: $f2;
		        letter-spacing: 0.6px;
		    }
		    a:hover{
		    	text-decoration: none;
				background: lighten($t3, 2%) url('../images/bg_btn.png') no-repeat 99% 50%;
		    }
		}
	}
}


.product_list_related {
	//background: red;
	ul{
		margin: 0 0px; 
		padding:20px 0px;
		overflow: hidden;
		li{
			padding: 30px 20px;
			width: 175px;
			height: 280px;
			float: left;
			//border-right: 1px dotted $t3; border-top: 1px dotted $t3;
			border: 1px dotted #ccc;
			position: relative;
			
			//&:nth-child(4n){ border-right: 1px dotted darken($t2, 3%);} 
			//&:nth-child(-n+4){border-top: 1px dotted darken($t2, 3%);}

			.image{
				border: 1px solid #afaeae;
				position: relative;
				height: 175px;
				overflow: hidden;

				.img_product{
					width: 175px;
					height: auto;
					position: absolute;
				}
				.mask{ position: absolute; }
			}			
			.enlaces{
				margin-top: 15px;
				text-align: center;
				a{
					font-family: $baseFontFamily;
					text-align: center;
					color: $textColor;
					display: block;
					text-decoration: none;
				}
				&:hover{color: $t2;}
			}
		}
	}
}


.cont_producto{

	ul{
		margin: 0 0px; 
		padding:20px 0px;
		overflow: hidden;
		li{
			padding: 30px 30px;
			width: 175px;
			height: 280px;
			float: left;
			border-right: 1px dotted $t3; border-top: 1px dotted $t3;
			position: relative;
			
			//&:nth-child(4n){ border-right: 1px dotted darken($t2, 3%);} 
			//&:nth-child(-n+4){border-top: 1px dotted darken($t2, 3%);}
			border: 1px dotted #ccc;
			
			.image{
				border: 1px solid #afaeae;
				position: relative;
				height: 175px;
				overflow: hidden;

				.img_product{
					width: 175px;
					height: auto;
					position: absolute;
				}
				.mask{ position: absolute; }
			}			
			.enlaces{
				margin-top: 15px;
				text-align: center;
				a{
					font-family: $baseFontFamily;
					text-align: center;
					color: $textColor;
					display: block;
					text-decoration: none;
				}
				&:hover{color: $t2;}
			}
		}
	}	
}


.cont_producto_int{
	font-family: "AvenirNextRegular" !important;
	color: #666;
	h2{ font-size: 20px;}
	p{margin: 10px 0;}
	.img_gr{
		border: 1px solid #afaeae;
		background: white;
		img{
			text-align: center;
			width: auto;
			height: 300px;
		} 
	}
	.descripcion{color: $t1;}
	
}

.cont_csv{
	overflow: hidden;
	margin-bottom: 15px; 
	.csv{
		width: 100%;
		background: darken($t2, 5%);
		tr{
			&:last-child{border-bottom: 0;}
			&:nth-child(2n+1){ background:darken($t2, 7%); }
		}
		th{
			text-align: center;
			background: $t3;
			color: $white;
			height: 35px;
			text-transform: capitalize;
			font-family: $f3;
			letter-spacing: 0.5;
		}
		td{
			text-align: center;
			height: 30px;
			color: $t1;			
		}
	}
}

