$w_grid: 100%;
$ancho: 60%;

.tabs_zone{}
// fin de contenedor Principal
.container_tab { 
	width: 100%;
	clear: both;
	position:relative;
	margin-top: 50px;	
	.menu_tab{
		width: 100%;
		clear: both;
		overflow: hidden;
		ul{
			display: block;
			margin: 0px;
			li{
				float: left;
				list-style: none;
				overflow: hidden;
				.tabUnSelected{
					display: inline-block;
					padding: 0px 20px 0px 20px;
					color: lighten($black, 30%);
					border-left: 0px solid transparent;
					border-right: 40px solid transparent;
					border-bottom: 35px solid #f1f1f1;
					height: 0;  
	    			line-height: 35px;
	    			color: #aaa;
	    			text-shadow: -1px -1px 2px #fff;
	    			font-weight: bold;
				}

				.tabUnSelected:hover{
					text-decoration: none;
					color:  #666;
					border-bottom: 35px solid #e3e3e3;
				}
				
				.tabSelected{
					display: inline-block;
					padding: 0px 20px 0px 20px;
					color: $t2;
					border-left: 0px solid transparent;
					border-right: 40px solid transparent;
					border-bottom: 36px solid $white;
					height: 0;  
    				line-height: 33px;
				}
			}				
		}
	}
	
	#wrapper_tab{ // espacio visualizador
		width: 100%;
		position: relative;
		height: 300px;
		margin-bottom: 20px;
		overflow: hidden;
		clear: both;
		overflow: auto;
		background: $white;
		border-radius: (0 2px 2px 2px);			
		ul{
			margin: 10px 0px;
			padding: 0px;
			position: relative;
		}
		// inicio de pagina
		.page{ 
			width: 90%;
			position:relative;
			display: block;				
			overflow: hidden;
			clear: both;
			margin: 5%;
			p{color: $gray;}
		} // Fin Pagina					
	}// fin wapper - espacio visualizador	
}// fin de contenedor Principal