// This is where you put the contents of the main stylesheet for the user's project.
// It should import your sass stylesheets and demonstrate how to use them.


// Config
@import "config/fuentes";
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import "config/variables";

//Base 
@import "dmDefault";
@import "base/textos";

//Modules 
@import "partials/menu";
@import "partials/sprites";
@import "partials/contactos";
@import "partials/productos";
@import "partials/category";
@import "partials/dm_widgets";
@import "partials/noticias";
@import "partials/tabs";

@import "partials/pager";

//Layouts Imports   
@import "layouts/global";   
                
//Layouts 

.global { @extend %global; background:#ebebeb; }

/*.sidebar {
	@extend %global;       
	@extend %sidebar; 
	background: url(../images/bg_web_interior.jpg) repeat-x;     
}*/
