{# Vars: $categoryPager #}

{{ categoryPager.renderNavigationTop() }}
<div class="menu_vertical">
	<div class="titular_int">
	<h3>Productos y Sectores</h3>
	</div>
<ul class="elements">

{% for category in categoryPager %}

 <li class="element">

    {{ dm.link(category) }}

 </li>
 {% endfor %}
</ul>
</div>
 {{ categoryPager.renderNavigationBottom() }}