{# Vars: $categoryPager #}


<ul class="elements" data-equal="article .text_catmenu">

{% for category in categoryPager %}

 <li class="element">
 	{{ dm.link(category).text(dm.renderPartial('category','article', {'category': category})) }}
 </li>
 {% endfor %}
</ul>   