{# Vars: $categoryPager #}


 {{ categoryPager.renderNavigationTop() }}

{% if categoryPager.count > 0 %}

<div class="cont_lista_cat">

	<div class="titular_int">
		<h2>Familias de Productos en {{ current.name}}</h2>
	</div> 

	<ul class="elements">

	{% for category in categoryPager %}

	 <li class="element">

	    {{ dm.link(category) }}

	 </li>
	 {% endfor %}
	</ul>
</div>
{% else %}
<!--
<div class="cont_lista_cat">
	<div class="message">
		No existen familias de productos en esta categoria.
	</div>
</div>
-->
{% endif%}
 {{ categoryPager.renderNavigationBottom() }}